[2019-10-12 07:41] frankie567 opened #3 "Implement forgot/reset password routes"
Forgot and reset password routes are essential.

To fit with our highly customisable philosophy and to focus only on users logic, we will propose hooks so that end-developers implement their own logic when a password reset is requested (send a e-mail, call an API...).

[2019-10-12 07:43] frankie567 opened #4 "Implement MongoDB database adapter"
SQL is nice, but many developers out there go for a NoSQL database. Let's propose a MongoDB database adapter!

[2019-10-13 10:05] #3 closed

[2019-10-13 11:48] frankie567 opened #5 "Improve test coverage"
Current coverage: [![codecov](https://codecov.io/gh/frankie567/fastapi-users/branch/master/graph/badge.svg)](https://codecov.io/gh/frankie567/fastapi-users)

[2019-10-15 05:55] #5 closed

[2019-10-16 05:11] frankie567 opened #9 "Write documentation"

[2019-10-16 05:12] frankie567 opened #10 "Setup package configuration"

[2019-10-17 10:18] #10 closed

[2019-10-18 05:10] frankie567 opened #13 "Implement update user route"

[2019-10-19 13:01] frankie567 opened #14 "Implement /me route"

[2019-10-19 13:01] frankie567 opened #15 "Implement /update route"

[2019-10-19 15:41] frankie567 opened #17 "Prevent to set `is_active` and `is_superuser` at registration"

[2019-10-19 15:41] frankie567 opened #18 "Check for existing user on registration"

[2019-10-19 15:43] frankie567 opened #19 "Success status code on register should be 201"

[2019-10-19 16:16] #9 closed

[2019-10-19 16:18] frankie567 commented on #15
Duplicate of #13 😑

[2019-10-19 16:18] #15 closed

[2019-10-19 16:31] #18 closed

[2019-10-19 16:57] #17 closed

[2019-10-19 16:57] #19 closed

[2019-10-20 08:12] #14 closed

[2019-10-20 08:12] #13 closed

[2019-10-20 08:44] frankie567 opened #20 "Add on_after_register hook"
Will allow to add some logic after successful registration (typically send a welcome email).

[2019-10-20 08:46] frankie567 opened #21 "Add superuser routes"
* List users
* Update user with `is_active` / `is_superuser` status
* Delete user

[2019-10-21 16:21] jorgerpo opened #24 "Thank you for this"
great addition to the already great fastapi

[2019-10-21 16:51] frankie567 commented on #24
Thank you @jorgerpo, that's very nice to hear 👍 It's still quite in early stage, so I would be glad to have your feedback 😄

[2019-10-23 05:58] frankie567 commented on #20
Thinking about a more convenient way to wire thoses hooks: basically, `FastAPIUsers` object would expose a decorator that would add the decorated function to a dict of hooks, arranged by event name.

That would allow:

1. To have several hooks per events
2. To have less constructor parameters for  `FastAPIUsers`

Inspiration:

https://github.com/encode/starlette/blob/c0bf5e3976542de2a0d0441bee0b5d

[2019-10-25 06:33] #20 closed

[2019-10-26 20:05] chbndrhnns opened #28 "OAuth2 client"
I think this codebase provides a couple of good examples on how FastAPI can be extended. Would you consider implementing OAuth2 as well for user registration so that I can just specify the OAuth2 parameters (like url, callback, client_id and client_secret), perform the authentication and create a user in the database. A specific example I have in mind would be [GitLab](https://docs.gitlab.com/ee/a

[2019-10-27 08:45] frankie567 commented on #28
That would be something definitely useful 👍However, I'm not sure that it would fit into the same package. From what I've seen out there, social/oauth authentication is usually proposed as an optional external library that plugs to the users management system.

I'll look around if I can find a Python OAuth client that supports `async`, and see if we can easily fit it in a FastAPI router.

Thank you

[2019-10-27 08:53] frankie567 commented on #28
Sounds like [Authlib](https://github.com/lepture/authlib) already has a [Starlette integration](https://docs.authlib.org/en/latest/client/starlette.html). Could be a good candidate!

[2019-10-27 10:10] frankie567 commented on #28
Had some pretty quick results with Authlib (using the `master` branch, as the latest release 0.12.1 doesn't have the Starlette integration):

<details>
<summary>POC of Github OAuth</summary>

[code]

</details>

I'll wait until they release officially their 0.13 version. I'll also have to think about a clever way to configure it while keeping it optional.

[2019-10-27 15:34] #4 closed

[2019-10-29 12:32] #21 closed

[2019-10-29 14:28] lepture commented on #28
v0.13 is close now. I'm working on the final documentation.

[2019-10-29 15:04] frankie567 commented on #28
@lepture Thank you for your update!

[2019-10-30 07:39] frankie567 opened #33 "Add error codes to error responses"
For a better user experience, it would be nice to have more detailed error messages.

To not force us to use a localization engine, let's define some codes and let the front-end interpret them. The codes should be however clear enough for an API user to understand what is going on.

Possible list:

* `REGISTER_USER_ALREADY_EXISTS`
* `LOGIN_BAD_CREDENTIALS`
* `RESET_PASSWORD_BAD_TOKEN`

[2019-10-31 09:10] #33 closed

[2019-10-31 14:52] erkandem opened #35 "separate mongodb dependency for tests and packaged code"
Hey,
first, thanks for sharing!

MongoDB is neat, but I don't use it and two issues arise from that:

 1.  this specific [test](https://github.com/frankie567/fastapi-users/blob/658161518a7bc2e27cedabfba7ed6bb678b5604c/tests/test_db_mongodb.py#L14
) fails - obviously - because I don't have MongoDB installed

 2. importing  `fastapi_user` after  `$ pip install fastapi-users[sqlalchemy]` fails (see s

[2019-10-31 15:11] erkandem opened #36 "broken link between OpenAPI-UI authorize button and app ?"
A new user registers via OpenAPI-UI
[code]
the user can log in via OpenAPI-UI
[code]
However, using the `Authorize` button of the OpenAPI-UI does not work.
[code]
The logs shown above indicate that the prefix is not understood by the app. Possibly a fast-api issue? But I currently can't judge it from my `flask` background.
[code]

[2019-10-31 15:54] frankie567 commented on #35
Thank you for your feedback!

## Concerning 1.

Actually, there is a [`Makefile` with a `test` command](https://github.com/frankie567/fastapi-users/blob/658161518a7bc2e27cedabfba7ed6bb678b5604c/Makefile#L13-L16) that takes care of spawning a Docker MongoDB container. So if you have Docker installed, you should be able to run the tests with `make test`.

I'm aware that this may be a bit overkill, b

[2019-10-31 19:49] erkandem commented on #35
to the fist one: I didn't touch the `Makefile` (It smelled like something for C-code). I don't know about the full spectrum of possible solutions, but I like the docker approach. I have postgres dependencies in own applications for which I can use this pattern.

to the second one:  glad this  is easy to fix

with regard to both issues: Thx :)

[2019-10-31 20:43] #35 closed

[2019-10-31 20:48] frankie567 commented on #35
Actually, you can use a `Makefile` to create some commands shortcuts, it's quite convenient. I've taken this idea from the [python package cookiecutter](https://github.com/audreyr/cookiecutter-pypackage/blob/master/%7B%7Bcookiecutter.project_slug%7D%7D/Makefile).

The release is underway for the import bug.

I'll create a separate ticker to track the documentation and tooling improvements regardin

[2019-10-31 20:58] frankie567 opened #37 "Add Development/Contributing documentation and tag unit tests"
Following the questions of @erkandem in #35, we should improve the documentation and tooling improvements regarding unit tests. More specifically:

* Add a Development/Contributing section in the README to explain how to run the tests.
* Add pytest markers on the tests so that we can properly skip the ones we are not interested in.

[2019-11-02 13:20] frankie567 commented on #37
Fixed by 1811d4aa2d179ccc5e5539005454fccd1b4563b8 and 6f8bf57d0a4dca32995898aebf5db58fd649e5fb.

MongoDB tests will be automatically skipped if no server available on the local machine.

[2019-11-02 13:20] #37 closed

[2019-11-03 09:20] #36 closed

[2019-11-06 14:45] prostomarkeloff commented on #28
It seems awesome to me! :+1:

[2019-11-07 18:46] prostomarkeloff opened #41 "Advanced rights system"
Hello, firstly i wanna say you that this library really good and useful, thank you!
My question will be about delimitation user access to some methods.
What about rights system? Now out of the box we can use only `is_superuser` as rights check.
In future fastapi-users will support more ways to checking rights? This library looks to me really good, but however i must write custom rights system for

[2019-11-08 06:14] frankie567 commented on #41
Thank you for your feedback 👍

I understand the need, but I don't think this will fit into the library. My idea is that I want to keep it as light as possible, and very easy to extend and customize.

I took lot of inspiration from the builtin Django auth system. We can argue that Django has a [permission system based on model](https://docs.djangoproject.com/en/2.2/topics/auth/default/#permissions-

[2019-11-08 06:24] frankie567 opened #42 "Improve authentication"
Currently, only one authentication backend is allowed at a time. This is wrong. One could wish for example to use both Cookie and a Bearer token strategies.

Still taking inspiration from Django, the goal would be to be able to define a list of auth backends. There would be then a wrapper that would run sequentially until it finds a strategy that yield a user ; or raise 401.

Here is a non-working

[2019-11-08 10:52] prostomarkeloff commented on #41
Thank you for answer! I hear you, now i think that it's not needed in this library, too. Your way of this library looks more good to me, Django-way is bad especially for this library.

[2019-11-08 10:52] #41 closed

[2019-11-08 11:02] prostomarkeloff commented on #42
LGTM

[2019-11-08 12:36] prostomarkeloff opened #43 "Umongo for mongoDB backend."
Hello! What about [umongo](https://github.com/Scille/umongo) support in this library? Raw mongodb looks bad for me, and umongo helps in use mongodb.

[2019-11-10 01:50] prostomarkeloff opened #44 "Make easy to override Responses and HTTPException"
Hello! At the moment, i can't override values which returns fastapi-users. For example:
When user have bad credentials fastapi-user simple raise the FastAPI `HTTPException`, but in some cases it isn't well :( My idea is to make a classvars (or global vars?) of responses (errors) classes, which user easy can override.

[2019-11-10 08:04] frankie567 commented on #43
Why not! I don't know that library but I'll look into it. Is it widely used in Python/Mongo based projects?

[2019-11-10 08:08] frankie567 commented on #44
Hi! I don't really see the use case here. What type of responses would you like to return in those cases? Currently, they carefully follow REST best practices.

[2019-11-10 08:49] prostomarkeloff commented on #44
Ok. For example i wanna return dict like {"response": {...}, "status": "ok"

[2019-11-10 08:53] prostomarkeloff commented on #43
Yes, it's only one library with async support for mongo

[2019-11-12 09:28] frankie567 commented on #43
The way I understand it, umongo is an object-manager built on top of the official wrappers. I see it's compatible with `motor`, which is the official async wrapper we already use.

I understand your point, it's the same as the potential need of SQLAlchemy ORM support. I'll consider it.

[2019-11-12 09:40] frankie567 commented on #44
Well, I have to say I'm not a big fan of this style ; I truly think that relying on the HTTP status code is the way to go.

I don't really see an easy way to do this in the code base without adding lot of complexity.

I guess your best bet is to subclass the `UserRouter` in your project and include it instead of the default one in your routes.

[2019-11-12 11:25] prostomarkeloff commented on #44
Ok, good solution.

[2019-11-12 11:25] #44 closed

[2019-11-23 22:00] prostomarkeloff opened #54 "Tortoise ORM support"
At the moment tortoise-orm is growing up and i think it's good reason for adding it. I plan start work of it soon.

[2019-11-24 12:02] frankie567 commented on #28
I'm currently implementing an async-only OAuth library: https://github.com/frankie567/httpx-oauth

When it will be complete enough, I'll start integrate it with *fastapi-users*.

[2019-11-26 12:55] prostomarkeloff commented on #54
@frankie567 what should i do when user already created? tortoise can raise exception about it

[2019-11-26 13:17] prostomarkeloff commented on #54
But i have the another problem. Tortoise doesn't have a simple `String` field. It provides a `CharField` which must have a `max_length`. Which value should i set in model field?

[2019-11-26 13:59] prostomarkeloff commented on #54
Also, i wanna ask you about `id` field. Why string? I think we should convert it to integer.

[2019-11-26 14:06] frankie567 commented on #54
What we do usually in SQL when don't know in advance the length of the data, is to put the maximum possible length for a `CharField`, i.e. **255** (`VARCHAR(255)` in pure SQL).

The `id` is a string for a very good reason: it's an UUID, and not an auto-increment integer. This pattern is becoming more popular for several reasons: it's universally unique and independent of the environment. This mean

[2019-11-26 15:45] prostomarkeloff commented on #54
I think we should add `orm_mode` in pydantic config because without it, I can't return a tortoise model as python dict.

[2019-11-28 19:41] prostomarkeloff commented on #43
Plan work on it this weekend or later

[2019-12-03 20:34] #54 closed

[2019-12-04 12:32] #42 closed

[2019-12-04 12:43] frankie567 opened #68 "Automatic documentation doesn't discover authentication method"
Following the implementation of multiple auth backends, I didn't find a way yet to make OpenAPI discover the authentication method (even at least one).

I guess we have to go deeper in fastapi implementation to understand how to do this.

[2019-12-04 12:44] #24 closed

[2019-12-08 12:25] frankie567 commented on #28
I made good progress on [httpx-oauth](https://github.com/frankie567/httpx-oauth), more on this matter soon :)

[2019-12-17 14:21] grigi opened #77 "Using TextField as user.id index is a bad idea."
Specifically referring to: https://github.com/frankie567/fastapi-users/blob/master/fastapi_users/db/tortoise.py#L11

I'm sorry I got here so late (via #59 from https://github.com/tortoise/tortoise-orm/issues/246), but a `TextField` is a really bad primary key.

It is a very-large text field, as in a gigabyte large.  Also MySQL will at best index the first 1023 bytes (about 255 Unicode chars) and t

[2019-12-17 14:45] frankie567 commented on #77
Wow 😱Thank you for pointing this out @grigi, I didn't pay enough attention when I merged this PR. Of course, this is bad. I'll change it ASAP.

[2019-12-17 14:49] #77 closed

[2019-12-17 14:50] grigi commented on #77
Wow, that was fast!

[2019-12-17 14:52] frankie567 commented on #77
Didn't want to keep something *that* huge too long in the codebase 😅Thank you very much 👍

[2020-01-03 09:52] MariusMez opened #83 "Default values when call endpoint /me with custom User Model"
Hi Frankie567
First of all thanks for this promising plugin !

I have added new fields to the User Model class like mentioned in documentation:

[code]

When I call the register endpoint, the User is correctly saved with all fields completed.

_fullname = 'test'
creation_date = '2020-01-02T08:23:34.014678"_

But when after login I call the endpoint `/me`, only the 'base' fields (email, password, i

[2020-01-03 11:54] frankie567 commented on #83
Hi @MariusMez!

Thank you for your feedback 🙂 I think I see what's going on here:

https://github.com/frankie567/fastapi-users/blob/c903b301615c6fd0e9bfe2c25cd3625fe52fc21e/fastapi_users/db/mongodb.py#L28

The DB adapters use the base Pydantic class ; thus they will discard the extra fields. I'll find a fix!

[2020-01-03 12:40] MariusMez commented on #83
Cool !

I haven't test yet but maybe the 'extra' parameter can help: https://pydantic-docs.helpmanual.io/usage/model_config/

[2020-01-04 14:36] #83 closed

[2020-01-04 15:07] frankie567 commented on #83
@MariusMez Issue should now be fixed in [release 0.5.0](https://github.com/frankie567/fastapi-users/releases/tag/v0.5.0), at the price of some breaking changes.

If you have any questions, I would be happy to help 😄

[2020-01-04 17:19] MariusMez commented on #83
@frankie567 Perfect, thank you 😊

[2020-01-17 10:43] #28 closed

[2020-02-03 07:31] frankie567 opened #96 "Fix pytest-mock dependency once the async bugfix is released"
The issue https://github.com/pytest-dev/pytest-mock/issues/178 was causing tests to fail in 3.8.1. The fix for this https://github.com/pytest-dev/pytest-mock/pull/179 was merged but not yet released.

We pinned this dependency to point on the master branch but we should change to a proper PyPI version once the fix is released.

[2020-02-06 17:30] jet10000 opened #100 "TypeError: on_after_register() takes 1 positional argument but 2 were given"
I just test register a user, display error in console.

[code]

[2020-02-07 06:26] rena-ganba commented on #100
I got this problem too, using mongo database

[2020-02-07 06:36] vThaian opened #101 "AttributeError: module 'importlib._bootstrap' has no attribute 'SourceFileLoader'"
I'm getting this from yesterday only for fastapi-users package:

[code]

I figure out that the issue only exists when I have also socketio package installed.

[2020-02-07 06:50] #101 closed

[2020-02-07 07:00] #100 closed

[2020-02-07 07:03] frankie567 commented on #100
Hi! Thank you for filing an issue 🙂There was indeed a mistake in the full examples, that were not updated following the addition of the `Request` parameter in the event handler, sorry for that. This is now fixed.

Make sure also to [check more specific parts of the doc](https://frankie567.github.io/fastapi-users/configuration/router/#event-handlers) to have more detailed information 🙂

[2020-02-10 04:50] dependabot-preview[bot] opened #102 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/frankie567/update-logs/22892841).

[2020-02-11 04:50] #102 closed

[2020-02-13 04:48] dependabot-preview[bot] opened #105 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/frankie567/update-logs/23273962).

[2020-02-13 14:27] #105 closed

[2020-02-15 20:27] dralshehri opened #106 "Routes for email verification"
First of all, well done 👏🏼
I'm really impressed by the ideas, quality of code and documentation.

I'm thinking about adding email verification. Yes, it has some complexity, because you need to verify email after registration and when changing email but it's still essential for many apps.

I got inspired by `forgot-password` and `reset-password` routes. **Here is my idea**:

1. `generate-token` **r

[2020-02-16 08:39] frankie567 commented on #106
Hi @dralshehri! Thank you very much for your support 😄

Indeed, I've thought about email validation and I agree it's an important feature. I think you are on the right track, it effectively matches the existing architecture while keeping it optional.

I'll think about it but this is definitely something that could be interesting to have 👍

[2020-02-17 05:18] dralshehri commented on #106
That's great !

[2020-02-22 02:20] jet10000 opened #111 "How to login with cookie?"
Hi, I create a login form page , I want to login it with cookie, How to do it? I test it , but not work.

[code]
template
[code]

I access Login page and input username and password, then submit it, response null, then I access homepage "http://127.0.0.1:8000", but still display `{"detail":"Unauthorized"}`

[2020-02-22 07:30] frankie567 commented on #111
Hi @jet10000! FastAPI is more intended to be used as a REST API framework rather than a traditional website you could do in Django.

That said, we should be able to make what you’ve done working. First of all, since you are in local, you should configure `cookie_secure` to `False` (it’s HTTPS only by default) : https://frankie567.github.io/fastapi-users/configuration/authentication/cookie/

You sh

[2020-02-22 08:02] jet10000 commented on #111
It's worked!  👍

Thank you!

[2020-02-22 08:05] #111 closed

[2020-02-22 20:32] jet10000 commented on #68
https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/#authenticate

[2020-02-25 10:52] jet10000 opened #115 "How to use with starlette？"
https://www.starlette.io/authentication/

I want to implement a simple dashboard webpage with starlette.

[2020-02-25 19:59] frankie567 commented on #115
This library is intended to be used with FastAPI, not Starlette. It heavily relies on FastAPI features (dependency injection, Pydantic models...) ; so, I don't think it's possible to use it with Starlette only.

[2020-02-26 11:21] #115 closed

[2020-02-28 20:56] pierregm opened #117 "Custom model validation"
Hi,
I need to add some validators to my custom `User` model, that raise a `ValueError` if some set of constraints isn't respected. For example,
[code]
I expected any validation error to be caught when trying to access the `/users/register` route, so that the status code of the response would be 422, and the response body containing the standard validation error message.

Instead, I get a 500.

Any

[2020-02-28 21:05] frankie567 commented on #117
Hi @pierregm!

Could you provide the error stack trace shown in the console running your server? Surely, it will give use good pointers to solve the problem 🙂

[2020-02-29 00:27] pierregm commented on #117
Sure, here we go...
[code]

[2020-02-29 08:32] frankie567 commented on #117
OK, I see where the problem comes from 🙂 As per [Pydantic documentation](https://pydantic-docs.helpmanual.io/usage/validators/#validate-always):

So your validator should look like:

[code]

For the record, here is what was happening:

* Since `referer_id` was not supplied in the request, the validator wasn't called.
* The controller then considers the payload is valid and proceeds to create the u

[2020-03-02 09:56] pierregm commented on #117
Wow, duh... That was basically it (that, and the fact that I had added my validator to my custom `User` model but had forgotten to make my `UserUpdate` inherit from `User` when it is clearly specified in the docs...)
Thanks a million again for this very clear and educational explanation!

[2020-03-02 09:56] #117 closed

[2020-03-02 17:56] MariusMez opened #120 ""on before registration" event handler"
Hi François,

I would like to secure my registration process using a recaptcha token which I need to validate before registering the user.

I wonder what is the better approach to process the token using the default fastapi-users /register route.

Maybe adding a new "on before registration" event handler could be a solution ? (if its possible to cancel the registration process in the case the toke

[2020-03-05 06:37] frankie567 commented on #120
Hi @MariusMez!

Sorry for the response time!

I understand your need. However, I'm not sure if a "on before registration" event would be the solution. From what I understand, it would need either to pass to the core controller (to perform the actual registration) or to return an error response itself when the token is invalid. I fear it would be a bit messy to understand and maintain.

Other solut

[2020-03-06 08:42] MariusMez commented on #120
Hi @ frankie567

No worries, I want to avoid the use of a Pydantic validator inside a User model because I don't want to link this user object to some security logic which for me is out of scope of this user object

And for this reason I think your idea to create a middleware could be a good solution for my needs, thank you for this suggestion!

[2020-03-07 11:35] MariusMez opened #122 "How to use Oauth2 authentication in a Fastapi app ?"
Just some thoughts as I try to understand how to use the Oauth2 implementation inside a fastapi app.

The official tutorial is here: https://fastapi.tiangolo.com/tutorial/security/oauth2-jwt/ and it is what I want to achieve.

As I already use this nice fastapi-users plugin I assume I can use it to simplify the integration.

So I'm wondering if I need to use the Oauth2 Generic client (https://fran

[2020-03-08 09:18] frankie567 commented on #122
Hi @MariusMez!

I'm not sure what you try to achieve here 🙂The official tutorial you link here explains how you could implement an authentication system (with password hashing and all) ; which is precisely what `fastapi-users` do it.

So you don't have to do all this ; if you correctly setup `fastapi-users`, your API will be secured. The downside indeed is that there won't be a button in the Swagg

[2020-03-09 07:58] MariusMez commented on #122
Hi @frankie567

Thank you for clarify my miscomprehension !
In fact as I haven't seen the bug #68 I thought my implementation was somewhat ineffective.

You can close this issue 👍

[2020-03-09 09:12] #122 closed

[2020-03-09 09:12] MariusMez commented on #68
My 2cents as I don't know what you've tried or not.

From what I've seen, to display the "Authorize" button, OpenAPI needs an 'Authorization' header. (https://stackoverflow.com/questions/32910065/how-can-i-represent-authorization-bearer-token-in-a-swagger-spec-swagger-j).

In FastAPI, it seem's open-api schema are generated 'using routes', each route can integrate is own Security_schemes (https://

[2020-03-09 09:13] #120 closed

[2020-03-10 13:00] frankie567 commented on #68
Thank you @MariusMez for digging through this 👍 The problem here is that we "break" the dependency chain for various reasons (support of several authentication backends, configuration...).

Our best bet would be if we could hook into the OpenAPI schema generation to add our own logic 🤔

[2020-03-11 11:57] jet10000 opened #128 "How to use sapper with fastapi-users"
Expect a complete example in the documentation,   it's better to use.

https://sapper.svelte.dev/

[2020-03-11 12:02] frankie567 commented on #128
I don't really understand how this framework could work with FastAPI?

[2020-03-11 12:15] jet10000 commented on #128
I found some links

https://www.nielsvandermolen.com/authentication-example-svelte-sapper/
https://www.reddit.com/r/sveltejs/comments/exm6r4/has_anyone_integrated_flask_django_with_svelte/

[2020-03-11 12:23] jet10000 commented on #128
https://github.com/acim/sapper-auth

[2020-03-11 13:00] frankie567 commented on #128
But what do you want to do? If you wish to implement authentication with Sapper, go on, but this has nothing to do with Python and FastAPI 🤷‍♂️

[2020-03-11 13:10] jet10000 commented on #128
OK, I continue to research, I want to use sapper and fastapi-users together.

[2020-03-16 06:20] #128 closed

[2020-04-04 08:12] frankie567 commented on #96
Fixed by 05286853a63f8cb9fb9988e394c171795ae46102.

[2020-04-04 08:12] #96 closed

[2020-04-10 08:46] mrchoke commented on #68
I hard code in
fastapt_users/autgebtication/__init__.py

[code]

I add this
`check = Depends(OAuth2PasswordBearer(tokenUrl='/auth/users/login/thaijo21', auto_error=False))`

and in
fastapt_users/autgebtication/jwt.py

[code]
I return **access_token** instead of **token**

Then I can use auth on fastapi swagger ui.

**Note**. _I use router prefix as /auth and jwt name as thaijo21_

![ภาพ](https://u

[2020-04-17 10:00] BenjPy opened #154 "help about signin and logout"
i don't see on below the Authenticated and Superuser in the swagger(openAPI)
based on the example doc
[code]
![image](https://user-images.githubusercontent.com/52538873/79555637-94f27480-80a8-11ea-9143-67d61ecd86e4.png)

btw: that will be nice to have doc that explain the flow method authentication
question 2:
 the logout of the JWT Authentication are not implemented
my question: it's bug  or shou

[2020-04-17 15:25] frankie567 commented on #154
Hi @BenjPy!

Thank you for reaching out! I'll try to answer point by point:

1. Superuser routes *are* there in the Swagger API, we see them on your screenshot. What I meant in the doc is that only superusers (i.e. users with `is_superuser == True`) can call those endpoints. If you call them while not being a superuser, you'll get a 403 error. Maybe this needs some clarifications in the doc.

2. J

[2020-04-19 09:29] BenjPy commented on #154
Hi Frank
 thank you for the the fast response
yep that will be nice if the doc can be more clarified
explain step by step  the flow of the admin admin user
and will be nice to see the curl cmd is more readable

i'm trying to register a user as superuser and got response  when that insert in the db hat put false

[code]
the response
[code]
log
[code]
maybe i'm doing something wrong
can you help , o

[2020-04-23 14:16] galvakojis opened #162 "Can't connect to mongo docker"
okey, spend a day, but still can't make this work

[code]

[code]

[code]
using this as example - https://frankie567.github.io/fastapi-users/configuration/full_example/

changed few lines:
`DATABASE_URL = "mongodb://test-user:test-password@mongo-db/container"`
[code]
so think Fatapi is linked to Mongo container
![image](https://user-images.githubusercontent.com/17315578/80109217-e78acf80-8585-11ea

[2020-04-23 15:46] frankie567 commented on #162
Hi @galvakojis!

If you get an internal server error, you'll likely have some stacktrace in your `api` container. Could you provide it? Doing something like `docker-compose logs -f api` should output the logs.

Cheers!

[2020-04-23 15:54] frankie567 commented on #154
Hi @BenjPy!

This is expected behavior. A random person cannot register themself as a superuser (otherwise, a malicious guy could come and destroy everything!).

If you look at the [`/register` route doc](https://frankie567.github.io/fastapi-users/usage/routes/#post-register), you'll see that only `email` and `password` are needed. `is_active` and `is_superuser` will be ignored.

However, you can

[2020-04-23 16:39] BenjPy commented on #154
thank you for the answer
yep the doc need more clarification because you  develop an API, that should used   by user
and if needed can be extended by some extra code.
Fastapi is framework  for building API so the doc refer how to implement api
but  you have build API that can be extended with extra code
so the doc should appear with more example and flow and how to use it

[2020-04-23 17:06] galvakojis commented on #162
Ok sorry, so it is working, but why? I will let you know tomorrow :D

[2020-04-24 07:15] #162 closed

[2020-04-25 01:36] mitchbregs opened #165 "ideal Postman workflow for fastapi-users"
Hi Frankie!  Thank you so much for putting this package together.  I am trying to implement your user management system for a ReactJS front-end application.  This is my first time implementing an end-to-end authentication system, so I am still in the early stages of understanding JWT vs Cookie based authentication.  I assume I should be using `CookieAuthentication` for this type of project?  I wil

[2020-04-25 07:46] frankie567 commented on #165
Hi @mitchbregs!

This is somewhat related to what we discussed in #154. I'll work on the documentation today or tomorrow to be clearer about all this :)

I'll keep you updated ;)

Cheers!

[2020-04-25 12:41] frankie567 commented on #154
I've added a complete flow example here : https://frankie567.github.io/fastapi-users/usage/flow/

Hope it will help 👍

[2020-04-25 12:41] #154 closed

[2020-04-25 12:41] frankie567 commented on #165
I've added a complete flow example here : https://frankie567.github.io/fastapi-users/usage/flow/

Hope it will help 👍

[2020-04-25 12:41] #165 closed

[2020-04-25 18:30] mitchbregs commented on #165
Hi Frankie, thanks for adding the documentation.  I still have the same issue mentioned above coming through in CURL on the command line.  What am I doing wrong?  Here is my complete workflow:

[code]

And the FastAPI app:

[code]

[2020-04-25 19:03] mitchbregs commented on #165
I got it to work using Python as such:

[code]

[2020-04-25 20:33] BenjPy commented on #154
thank you very much @frankie567 ,
very good,
can you add please auth with google

[2020-04-27 11:37] frankie567 commented on #154
Yeah, good point, I'll do that!

[2020-04-27 11:53] frankie567 commented on #165
Hi @mitchbregs!

As I state in the doc, cookies are better-suited for browsers, because it can be quite painful to handle them by hand in a program.

You Python script works because you did manage the cookies. In your cURL command you didn't, so you get a 401 error because you didn't provided an authentication cookie. To make it work with cURL, you have two options:

1. Use a `Cookie` header. This

[2020-04-27 12:59] galvakojis opened #168 "Use username instead of email ?"
Quick question, can I change using a nick_name as a login name instead of email?
How to make email field optional, but not mandatory?

[2020-04-28 07:44] frankie567 commented on #168
Hi @galvakojis!

Well, this is one the first design choice I had to make when I started this library. Unfortunately, I think there is no easy way to do it "out-of-the-box".

A few directions however:

* I think you can overload the `User` Pydantic model to make the `email` field optional.
* You should overload the [`/register` route](https://github.com/frankie567/fastapi-users/blob/6292c15d77c5cd4

[2020-04-28 07:52] galvakojis commented on #168
already did the last of two and maybe first.

I think that only one problem left to solve[ is in this line ](https://github.com/frankie567/fastapi-users/blob/6292c15d77c5cd4fa5f0f120133b7b49db0f8f6b/fastapi_users/db/mongodb.py#L22)

But i don't know how to change (and when) email to` unique=False`

[2020-04-28 08:33] frankie567 commented on #168
If the email is not required, you can't have a `unique` index on this field, so you should remove this line. You should however  add a unique index on your username field.

[2020-04-28 08:42] galvakojis commented on #168
UPDATE:

I added in my mongo-init.js (using Docker)
[code]

so now I can have as many users without email as i want, but with different nick_name without changing core files.

[2020-04-30 07:24] frankie567 commented on #168
I assume your problem is solved, so I'll close this :)

[2020-04-30 07:24] #168 closed

[2020-04-30 10:15] anancarv opened #171 "Swagger issue for endpoints register & update"
Hi,
First of all, great job. It's a very useful library.

However, after having setup my project. I noticed a few issues in the generated Swagger documentation. Indeed, the request body is pre-filled with the following information:
[code]

However, according to your documentation, only the fields `email` & `password` are required. It can lead to some misunderstandings for someone wanting to use th

[2020-05-07 11:50] mahdikhashan opened #178 "Probem querying added user with psql"
I have just added "Full example" to my fast api project with postgres.
After adding a user with cookie authentication, Trying to query and see recently added user by psql. when I query "user" table just see a table with single user column with a postgres value.
P.S: authentication is working but when i try to logout cookie authed users, i can't.

fastapi: 0.54.1
fastapi-users: 0.8.0

[2020-05-07 17:00] frankie567 commented on #171
You're right, it's misleading! I'll look into it :)

[2020-05-07 17:02] frankie567 commented on #178
Hi @mahdikhashan!

Hmm... It's quite hard to understand your problem from here. Could you provide the SQL query you are doing and its result?

[2020-05-09 07:33] mahdikhashan commented on #178
That's All I do in a pure terminal:

`(base) mahdi@x230:~$ sudo -u postgres psql
[sudo] password for mahdi:
psql (10.12 (Ubuntu 10.12-0ubuntu0.18.04.1))
Type "help" for help.

postgres=# \c test
You are now connected to database "test" as user "postgres".
test=# \dt
             List of relations
 Schema |     Name      | Type  |  Owner
--------+---------------+-------+----------
 public | doc_les

[2020-05-13 06:48] frankie567 commented on #178
Hum... Do you start from a clean database? Are you sure you have called `Tortoise.generate_schemas()` to create the tables and their columns?

[2020-05-13 09:10] mahdikhashan commented on #178
No. I have added this to my existing database. I have used sqlalchemy.

[2020-05-17 18:41] perfecto25 opened #188 "user handling with HTML template"
hello, how do I pass a ValidationError or 400 error back to the login.html template?

for example if user enters empty username or incorrect password, they just get a text return,

[code]

How can I pass this error back to login.html template as a warning?

Thank you

[2020-05-17 22:01] system123 opened #189 "Seperate routers for login and users"
Having the login, register etc. endpoints tied to the users router seems a bit unnatural, especially if the api is versioned. It is nicer to have these endpoints on the root, and then all user CRUD functionality on a `users/` endpoint.

The way I see this is that fastapi_users should contain a `auth_router` and a `user_router` such that they can be prefixed separately.

[2020-05-18 06:08] rodgerthat3000 opened #192 "ImportError: cannot import name 'models' from 'fastapi_users' (./fastapi_users.py)"
Hi,

I am pretty new to fastapi.
Sorry might sound really silly but here is what I did:

I tried this for both SQLAlchemy and Tortoise ORM and got the same result.

I created a new file main.py under fastapi_users directory and copied the example, from:
https://frankie567.github.io/fastapi-users/configuration/databases/sqlalchemy/

For SQLAlchemy I changed the following line:
engine = sqlalchemy.c

[2020-05-18 16:57] roshmath opened #193 "Cookie issue"
Hi, love this project! Super cool and useful. I'm trying to implement it but having some issues using cookies.

After logging in and being issued a cookie, every protected route returns a `401:  "detail": "Unauthorized"`
I've checked and:

-  my only `auth_backends` is CookieAuthentication

- my SECRET variable is linked

- and cookies are attached to the headers of my responses in the browser. Cu

[2020-05-18 21:53] #193 closed

[2020-05-19 05:26] frankie567 commented on #178
Hi @mahdikhashan! Is your problem solved? Can I close it?

[2020-05-19 05:29] frankie567 commented on #188
Hi @perfecto25!

FastAPI is intended to be used as a REST API, not a traditional web framework like Django that generates HTML response.

The correct way to do this is to write a bit of JavaScript in your page to handle the form submission, handle the response and make the redirection.

[2020-05-19 05:31] frankie567 commented on #189
Hi @system123!

Thank you for your feedback. I agree that this would make more sense and make lot of things easier. I'll think about it :)

Cheers!

[2020-05-19 05:45] frankie567 commented on #192
Hi @rodgerthat3000!

Well, that is quite a bunch of information 🙃There are several things that could explain why it doesn't work:

* You said you created a `fastapi_users` directory. You can't do that, otherwise when you import it, it will take precedence over the real `fastapi_users` package that you installed with `pip`. You should rename it `myproject` or something like that.
* I don't understa

[2020-05-19 13:21] #188 closed

[2020-05-21 12:29] rodgerthat3000 commented on #192
Hi Frankie thanks so much for your help. I think I had some issues with my pc as well as python was acting a bit funny I am going to try it again and Ill let you know.

[2020-05-21 12:53] rodgerthat3000 commented on #192
Hi Frankie,

No luck I have hit another roadblock so below is my file stucture:
![image](https://user-images.githubusercontent.com/44711934/82560661-3479ba00-9bb5-11ea-87d6-dfbf102a72a1.png)

For some reason its not picking up my models?

When I ran the uvicorn

This is my weird error:
File "./fastapi_users.py", line 6, in <module>
    from fastapi_users import models
ImportError: cannot import na

[2020-05-22 10:21] martincolladofab commented on #68
Currently fastapi-users uses httpx-oauth for the OAuth flow, would it be interesting perhaps to add the use of the authlib library to facilitate this flow?
Examples: https://github.com/authlib/demo-oauth-client
Documentation: https://docs.authlib.org/en/latest/client/fastapi.html

[2020-05-22 11:28] frankie567 commented on #68
Hi @martincolladofab! I deliberately put `authlib` aside because of its license : https://authlib.org/plans
You cannot use it for free for commercial projects, which is a totally no-go for me.

That's why I created `httpx-oauth` which is a simple and pure async OAuth client.

[2020-05-22 11:36] martincolladofab commented on #68
wow! I did't know about the pricing licence! I think that it's no-go for alot of people hehe

[2020-05-23 08:17] frankie567 commented on #192
Hum... Why did you clone the repository ? It's not a base project for you to use, it's a library you have to install, just like FastAPI. I think you should start with the basics:

* Follow the FastAPI tutorial (which is awesome) : https://fastapi.tiangolo.com/tutorial/
* Once you have a FastAPI project setup, you can start the installation process of FastAPI users : https://frankie567.github.io/fa

[2020-05-23 17:12] sedhyb-vemhix-3zaKru opened #202 "You"
Thank ya

[2020-05-23 17:25] amutota opened #203 "PHP-Webcam-Video-Conference-master:Red5 Server not running"
Hi house of programmers.

I am new to use Red5 Server.
I just installed Red5 Server in Windows platform.
I used this installation package:
1. setup-Red5-1.0.8-M11.exe,
2. vc_redist.x64
3. jre-8u251-windows-x64.exe

After installation completed, I then start Red5 by double clicking shortcut- Start Red5 that calls a bat file. But Red5 does not start up, instead, I only see a DOS Screen flashes and d

[2020-05-23 17:47] #202 closed

[2020-05-23 17:47] #203 closed

[2020-05-24 08:27] #68 closed

[2020-05-24 08:27] #189 closed

[2020-05-24 17:52] martincolladofab opened #204 "NotImplementedError - get_id_email"
First at all, thanks for the new release!!
Currently for the new release, the OAuth route, calls an methods that's not implemented yet, causing an exception NotImplementedError(). Probably would be nice to not call it until the method is implemented?

[code]

fastapi-users: 1.0.0
fastapi: 0.54.2

[2020-05-24 18:50] martincolladofab commented on #171
As @anancarv comments, looks like a inheritance problem, when the BaseUser is used instead of BaseModel.

[2020-05-25 05:17] frankie567 commented on #204
It sounds like you use the generic OAuth2, right? If so, it's expected to have a `NotImplementedError` on this method : https://github.com/frankie567/httpx-oauth/blob/master/httpx_oauth/oauth2.py#L165-L166

Which service do you intend to use? If it's not one provided by `httpx-oauth`, you should subclass the `OAuth2` client and implement this method. For example:

[code]

[2020-05-25 06:39] martincolladofab commented on #204
Exactly! I'm trying to use the Gitlab OAuth2 Provider (https://docs.gitlab.com/ee/api/oauth2.html).
I'll try with a subclass as you mention.

PS: btw, which oauth2 flow are you using por this library or the httpx-oauth library? Do you think that would be nice to include the optional user_info method for the openid provider as authlib does? (https://docs.authlib.org/en/latest/client/frameworks.html

[2020-05-25 09:16] frankie567 commented on #204
In a nutshell, what `fastapi-users` do here is just to retrieve a valid access token from the service, and store it with an `account_id` and an `email` (to be able to authenticate the user later). That's the purpose of the `get_id_email` method.

The rest is yours to implement. If you wish to retrieve user data, you can do it by using the access token you now have in the database (in your own rout

[2020-05-25 17:02] chillz561 opened #206 "How to make custom routes require user auth?"
Hello I have looked over the document and not really sure if I missed it but. I am trying to use Jwt with mongodb to create a project how can I use fastapi users to prevent access to custom routes. For example someone who is not logged in and authenticated cannot view a /orders , /profile,  /settings or any custom  page that requires logged in users?

[2020-05-25 17:05] frankie567 commented on #206
You should use the dependency callables : https://frankie567.github.io/fastapi-users/usage/dependency-callables/

[2020-05-25 17:16] chillz561 commented on #206
@frankie567 Thank you I was looking for that in the docs don't know how I missed it. Thanks for the help and awesome project

[2020-05-25 17:16] #206 closed

[2020-05-26 13:46] galvakojis opened #207 "Incompatable with FastAPI 0.55.0"
`ERROR: fastapi-users 1.1.0 has requirement fastapi<0.55.0,>=0.54.0, but you'll have fastapi 0.55.1 which is incompatible.`

no plans to update it?

[2020-05-26 14:34] frankie567 commented on #207
I was planning to do it yes ! I'll do it right away 😉

[2020-05-26 15:04] frankie567 commented on #207
Fixed in [v1.1.1](https://github.com/frankie567/fastapi-users/tree/v1.1.1).

[2020-05-26 15:04] #207 closed

[2020-05-26 16:38] martincolladofab commented on #204
Finally I used as you say an a subclass like this

[code]

[2020-05-27 12:10] galvakojis opened #208 "trying to migrate 0.8.x ➡️ 1.0.x"
I am trying to migrate from old version but suggested script for MongoDB
[code]
gives an error

so later i created new account and  clearly see, that something have changed
![image](https://user-images.githubusercontent.com/17315578/83019718-189c6b00-a030-11ea-8b02-ab9f3d3222b5.png)

**Update**
I managed  to update user in DB(?) well  I think so, but nothing have changed(still same as showed in fi

[2020-05-27 12:56] galvakojis commented on #208
found the issue
instead of this:
`var uuid = UUID(user.id);`
i needed to use this:
var uuid = BinData(3, UUID(user.id).base64());

[2020-05-27 13:06] frankie567 commented on #208
It works on my MongoDB version. Which MongoDB version are you using?

[2020-05-27 13:22] galvakojis commented on #208
mongo:4.2.3

[2020-05-27 14:25] galvakojis commented on #208
yeah, also tried to write some usable migration file, but until this moment no success :/

[2020-05-27 15:57] frankie567 commented on #208
Ok, I get it. Your MongoDB connection is not set to use the new UUID standard, it's using the legacy format (which is still the default). I explain it here in the doc : https://frankie567.github.io/fastapi-users/configuration/databases/mongodb/#setup-database-connection-and-collection

But this is something I definitely should add in the migration documentation. I'll do this.

To solve your proble

[2020-05-28 07:55] galvakojis commented on #208
thank you, frankie.
Here I will try to write my steps:
used old backup file to restore DB.
added that missing line from here` uuidRepresentation="standard"`
https://frankie567.github.io/fastapi-users/configuration/databases/mongodb/#setup-database-connection-and-collection
Well now  it is working as before.
(Except your script, same error)
![image](https://user-images.githubusercontent.com/1731557

[2020-05-28 08:07] frankie567 commented on #208
Which editor are you using to execute your queries?

[2020-05-28 08:11] #43 closed

[2020-05-28 08:12] galvakojis commented on #208
All work fine!
Mongo shell.

[2020-05-28 08:20] frankie567 commented on #208
Oh, okay, sorry I misread your answer 😃 Glad we worked it out !

Cheers!

[2020-05-28 13:18] galvakojis commented on #208
Thank you once again, if you find how to same thing in python (not in mongo shell), please share it

[2020-05-29 05:41] frankie567 commented on #208
Sure! Should be something like:

[code]

[2020-05-29 05:50] #208 closed

[2020-05-29 05:53] frankie567 commented on #208
I've added this information in the [migration documentation](https://frankie567.github.io/fastapi-users/migration/08_to_10/). Thank you for raising this point 😃

[2020-05-29 13:55] roshmath opened #209 "msg": "value is not a valid uuid" after update"
Hi,
     I recently updated my package to the newest version and after readding register routes I'm getting the error `msg": "value is not a valid uuid",` I assume this has something to do with PyDantic's validation so I'm wondering how to fix this.

[2020-05-29 14:03] frankie567 commented on #209
Hi @roshmath!

Did you follow the [migration path](https://frankie567.github.io/fastapi-users/migration/08_to_10/)?

[2020-05-29 14:26] galvakojis commented on #208
Hello frankie

it returns legacy UUID, not a standard one

[2020-05-29 17:24] roshmath commented on #209
I didn't actually see anything there that applied to my project.

As of right now I'm using `databases[sqlite]` and `fastapi-users[sqlalchemy]`

I ended up just fully dropping the database and starting from scratch but am still getting the error. When inspecting the **id** column of the **user** table, it is type `CHAR(36)` which I believe is correct.

[2020-05-31 00:51] nullhack opened #211 "[issue] authorization not working properly on swagger documentation of examples. tokenUrl need to be set"
**Problem**

Swagger documentation of [full example files](https://frankie567.github.io/fastapi-users/configuration/full_example/) cannot authorize token to be used, because tokenUrl is not set.

**Solution**

[Change the default tokenUrl](https://github.com/frankie567/fastapi-users/blob/master/fastapi_users/authentication/jwt.py#L33) of `JWTAuthentication` methods of all `example files`.

Pull Re

[2020-05-31 00:58] nullhack commented on #211
![image](https://user-images.githubusercontent.com/11466701/83342035-ceabd180-a31c-11ea-8c92-ffc87c900bec.png)

[2020-06-01 17:51] nullhack commented on #171
I took the weekend to play with fastapi-users. I noticed the full examples work fine from command line, but on swagger documentation, things just don't match as nice as the (much simpler) example on [fastapi documentation](https://fastapi.tiangolo.com/tutorial/security/oauth2-jwt/).

I think most the issues are related to inheritance as @martincolladofab described. I solved the authorization [issu

[2020-06-01 17:59] martincolladofab commented on #171
@nullhack yesteday I was playing with your PR https://github.com/frankie567/fastapi-users/pull/210 and I noticed the problem with the `Authorization: Bearer Undefined`. Looks a problem with Swagger UI rather than fastapi-users, but just in case that could work. Did you tried to change the response from the access token from `token` to `access_token`? Probably Swagger UI is not taking the response

[2020-06-01 19:27] nullhack commented on #171
I'll take a look on the weekend. But I don't think is on Swagger UI because fastapi integrates well with the documentation, so the problem seems to be in between the integration fastapi-users and fastapi. I'm trying to understand better how the token is used on fastapi side and how it integrates with the documentation

[2020-06-01 21:34] nullhack opened #212 "[issue] "Authorization: Bearer Undefined" on Swagger docs"
**Problem**

After authentication on Swagger documentation, the button `Try it out` generates `Undefined` instead of filling the Token of authenticated user.

![image](https://user-images.githubusercontent.com/11466701/83456485-667efc00-a492-11ea-92f4-8b53f4619521.png)

[2020-06-01 21:49] nullhack commented on #171
Thanks @martincolladofab That is the file I needed to change indeed. I could not wait until the weekend, so I solved It based on the base code for fastapi (PR https://github.com/frankie567/fastapi-users/pull/213 - I just saw that something on pytest broke, tomorrow I'll take a look).

Now the last challenge to completely integrate swagger is this issue. Probably will require changes on the base cl

[2020-06-02 05:29] frankie567 commented on #171
Sorry I couldn't intervene this weekend, I really appreciate your help 😃

Maybe the key indeed is to not make `BaseUserCreate` inherit from `BaseUser`:

https://github.com/frankie567/fastapi-users/blob/e850871e7935c460e9c169385dd7d42b45e0320c/fastapi_users/models.py#L29-L31

The good thing is that it will allow end-developer to specify which field are required at registration, and the ones that ar

[2020-06-02 06:03] frankie567 commented on #209
Could you provide the request your are doing and the full response? It'll help us understand where the error comes from.

[2020-06-02 08:29] #178 closed

[2020-06-02 13:22] roshmath commented on #209
Using `/users/register` here is the default **"Try it Out**" request body:

[code]

and here is the response:

[code]

We're able to get around this by taking out `"id": "string",` in the initial POST.

[2020-06-03 15:18] nullhack opened #216 "[feature request] handling secret"
I think the webserver secret should have a more secure way to handle the secret variable. Examples like the ones defined on the [website](https://frankie567.github.io/fastapi-users/configuration/full_example/) suffer from the issue described [here](https://blog.paradoxis.nl/defeating-flasks-session-management-65706ba9d3ce).

I can think in two ways of doing It:

First: change the examples to gener

[2020-06-03 17:24] nullhack opened #217 "[question] Is it possible to avoid database requests using scopes?"
I'm trying to use scopes with fastapi-users. Is there a simple example of how to use scopes?

My goal is to use scopes for things that don't require accessing user data (e.g. I don't need to query the database and get user id if my API is just rendering a list (in memory/redis) that requires the user to have read access), for this I can just check the scope.

Is it possible?

[2020-06-03 19:17] nullhack opened #218 "[feature request] first user is superuser"
Would be helpful if the first registered user is automatically assigned as superuser.

[2020-06-03 19:26] nullhack opened #219 "[feature request] scope to limit router usage"
Would be nice if routes were limited (or capable of) by some scope.
For example: to register a user, we could set something like:

[code]

Then, if the token has the scope or is a superuser, It's allowed to use the router.

This feature depends on https://github.com/frankie567/fastapi-users/issues/218 or else the first user would need to be created directly on database.

[2020-06-03 19:37] nullhack opened #220 "[feature request] route to generate tokens with equal or less access"
The idea is that if a token can use some scopes (e.g. user:register, user:read, user:delete), he should be able to create a token for equal or smaller access.
Let's say, I have a token that expires in 1 day and has permissions `user:register, user:read`, I can generate a new token with just `user:read`, then I can make a request:

`www.host.com/token`

Passing `permissions=['user:read']` or someth

[2020-06-05 12:20] galvakojis commented on #209
jus remove this line from post request
`"id": "string",`

[2020-06-06 09:28] #192 closed

[2020-06-15 06:57] martincolladofab commented on #217
Hi @nullhack, working on this kind of things this weekend I found this library ([fastapi-permissions](https://github.com/holgi/fastapi-permissions)) and it's used by Netflix on the dispatch project ([dispatch](https://github.com/Netflix/dispatch))
It's not using scopes, but I think that could be a good starting point. @frankie567 maybe could be included in fastapi-users to manage the permissions?

[2020-06-15 11:59] nullhack commented on #217
Thank you, I'll take a look.

[2020-06-15 12:15] frankie567 commented on #216
Thank you for raising this point @nullhack. I get the point of the article you mention but the way I see it, developers should be responsible of choosing a strong secret and keep it safe. This approach is widely used in big and battle-tested frameworks like Flask, [Django](https://docs.djangoproject.com/en/3.0/ref/settings/#std:setting-SECRET_KEY), [Ruby on Rails](https://guides.rubyonrails.org/se

[2020-06-15 12:25] frankie567 commented on #217
Currently, the approach is to check against the database if the user id. in the JWT still exists and that it has the right permission (active and superuser).

However, if you implement your own authentication class, I think you can make an authentication that works without DB query. The only constraint is that it returns a valid User object.

I think a scope approach could be interesting, but I do

[2020-06-15 12:28] frankie567 commented on #218
Well, I'm not convinced by automatically making the first user a superuser. This could be a bit surprising/dangerous in some cases.

The ideal way would be to have a CLI (with [tiangolo's Typer](https://github.com/tiangolo/typer) ideally), like the Django one. But this is quite some work to do!

[2020-06-15 12:29] frankie567 commented on #219
I'll make quite the same comment as in #217 : a scope approach could be interesting, but I don't think it's in the scope of this project. I think we can wire things pretty easily between `fastapi-permissions` (for example) and `fastapi-users` with dependency callables.

[2020-06-15 12:31] frankie567 commented on #220
I'll close it as a duplicate of #219 ; I think this is more or less the same discussion.

[2020-06-15 12:31] #220 closed

[2020-06-15 12:34] nullhack commented on #217
The only problem I see is that by design, fastapi-users check against database for every request. This defeats the purpose of permissions from scope (we want to check fast without database requests as much as possible).

This would be nice.

[2020-06-15 13:38] #218 closed

[2020-06-15 20:19] martincolladofab commented on #171
@frankie567 I have a PR to fix this issue. When I try to push to make a PR gives me an permissions problem. How could I make the PR?

[2020-06-16 05:10] frankie567 commented on #171
I suppose you didn't fork and try to push on the main repository 😄  You should read about forks and pull requests on GitHub, e.g https://guides.github.com/activities/forking/

It's easy and will make you a complete OSS contributor 😉

[2020-06-16 05:10] #216 closed

[2020-06-16 05:11] #211 closed

[2020-06-16 05:11] #212 closed

[2020-06-16 05:30] martincolladofab commented on #171
Thanks @frankie567! I sent the PR :)

[2020-06-16 06:38] apexkaws911 opened #234 "Python3.6 is good to use?"
Hi,
I just want to check the requirement of  python version for fastapi-users is ">=" 3.7 ?
Because I could not install fastapi-users via pipenv in python3.6.5.

Thanks in advance.

[2020-06-18 01:37] apexkaws911 commented on #234
Finally I just upgraded the python version to solve it.

[2020-06-18 01:37] #234 closed

[2020-06-19 15:32] #209 closed

[2020-06-27 15:19] #171 closed

[2020-06-30 10:26] #219 closed

[2020-06-30 10:26] #217 closed

[2020-07-01 18:14] roshmath commented on #209
[UUID in SQLite](https://gist.github.com/gmolveau/7caeeefe637679005a7bb9ae1b5e421e)

Found an implementation of UUID in sqlite that could be of use

[2020-07-06 11:56] MariusMez opened #245 "Register router treat email as case-sensitive"
Hi,
I've just noticed that the default provided router for /register POST endpoint treat email-addresses as case-sensitive.
As a result two "identicals" email-addresses with different cases writing are treated as different users.

eg: during registration John.Doe@company.com is verified as a different user than john.doe@company.com

It may be misleading :-)

[2020-07-07 03:06] renanaragao opened #246 "I can't inject get_current_active_users"
How do I get an instance of fastapi_users in my file in a separate route file?

My folder structure:

app
   -  main.py (Where I instantiate fastapi_users)
   routers
     - users.py (where is my custom router)

[2020-07-08 06:47] frankie567 commented on #245
Hi @MariusMez!

Yes, I noticed that some days ago. Actually, this is compliant with [RFC 5321](https://tools.ietf.org/html/rfc5321#section-2.4):

Pydantic respects that [in their implementation](https://github.com/samuelcolvin/pydantic/blob/dac67645757366930b9cbf933c78030c07461743/pydantic/networks.py#L458). Django also does it [like this](https://github.com/django/django/blob/639142e24d41c5e5a508

[2020-07-08 06:51] frankie567 commented on #246
My advice would be to instantiate `fastapi_users` in its own file, so that you can import it in your main and your router files. Otherwise, you'll run into circular dependency issues. Something like:

* main.py
* dependencies
  * fastapi_users.py
* routers
  * users.py

You can then import it like `from dependencies.fastapi_users import fastapi_users`.

[2020-07-08 07:08] MariusMez commented on #245
Yes I agree with you @frankie567 , just wanted to notice it :-)

Because I've some users who type their email in login form starting with an uppercase (but they registered it in lowercase...) and as a result the verification fail. But what make me notice it, it's that I have some users who registered twice using the same email but with cases variations...

In fact I think for most cases we should

[2020-07-08 07:19] frankie567 commented on #245
Yes, I get the *nuance* there: handle the case while registering but ignore it while login. I definitely agree.

This is something that should be done!

[2020-07-08 13:16] stodge opened #248 "`No matching distribution found for fastapi-users==2.0.1"
I don't know if I'm just having a moment, but I can't for the life of me install fastapi-users:

`No matching distribution found for fastapi-users==2.0.1 (from -r /requirements.txt (line 4))`

Thanks

[2020-07-08 13:21] frankie567 commented on #248
Everything seems fine, I did a fresh install on a clean virtualenv without cache ; all is working. Maybe you have a custom pip configuration which does not fetch libraries from PyPI?

[2020-07-08 14:37] stodge commented on #248
I'm trying to install it in a docker file, but I can successfully install other packages via pip. Weird. Thanks for the reply.

[2020-07-08 14:38] #248 closed

[2020-07-08 16:07] frankie567 commented on #248
No problem! Unless you have very specific dependencies, I guess you should be able to safely bump your base Docker image to Python 3.7 without encountering any issue.

[2020-07-08 16:43] stodge commented on #248
Yes, I managed to bump up to a newer version of Python. Thanks.

[2020-07-08 18:58] euri10 commented on #245
I can be totally off on this but it seems to me it's a bad idea, or put it differently this immediately rings a bell "Unicode hack".

Let's say francois@voron.com is in the db already, someone could register a different email with a Turkish dotless i and login against the lowercased email, both will be the same.

[2020-07-08 19:07] frankie567 commented on #245
I'm not very versed into Unicode hacks, but from what I understand, lowercasing a Turkish dotless i won't turn in into a regular i ? Isn't it?

[2020-07-08 19:11] euri10 commented on #245
Can't remember on top of my head all the uppercase / lowercase Unicode
points, and the previous example may be wrong, but essentially there are
code points that are the same after transformation and they are different
before, GitHub password reset was hacked that way iirc

On Wed, Jul 8, 2020, 9:07 PM François Voron <notifications@github.com>
wrote:

[2020-07-08 20:25] renanaragao commented on #246
I'll try. Thank you

[2020-07-09 03:26] renanaragao commented on #246
It worked really well. Thank you

[2020-07-09 03:26] #246 closed

[2020-07-09 15:09] frankie567 commented on #245
I guess you are refering to this article : https://eng.getwisdom.io/hacking-github-with-unicode-dotless-i/

The way I see it, the vulnerability only occurs when we check only by email ; which is the case with forgot password feature. However, as they say in the article, the fix is quite simple : ensure you send the email to the address in the database, not the one in user input.

For login, you st

[2020-07-09 16:44] #245 closed

[2020-07-09 16:49] frankie567 commented on #245
Released in v3.0.0 🎉 https://frankie567.github.io/fastapi-users/migration/2x_to_3x/

[2020-07-09 22:05] jorgerpo opened #251 "Roadmap"
Hello Frankie
This is a great piece of code for FastAPI

I'd like to know how you envision the Roadmap for fastapi-users

Thank you

[2020-07-10 06:02] frankie567 commented on #251
Hi @jorgerpo!

Well, I think we are feature-complete now. I do not wish to add more features or complexity. My goal was to provide a quick and easy-to-use authentication system like the one you can find in Django for example.

So here is what I see for the near-future :
* Follow closely FastAPI evolutions
* Improve JWT authentication backend. I feel here some things are not right.
* Become the de-

[2020-07-10 12:08] moreinhardt opened #253 "JWT token refresh"
Hi, thanks for the great package and documentation first of all!

However, I was wondering if I missed something or if the JWT logic is missing a `/refresh_token` router?

How can I make sure the user doesn't need to supply the password again when the token expires? I was planning on automatically refreshing it as long as it is still valid.

[2020-07-11 09:22] frankie567 commented on #253
Hi!

Currently, there is no logic to refresh a JWT token. However, you can implement it quite easily, e.g.:

[code]

[2020-07-11 23:01] serain opened #254 "GitHub OAuth flow error on callback"
First of all, thanks for this. It looks really great and I'm hoping it can save me a lot of time.

I'm running into an issue trying to get OAuth flow working with GitHub. I'm getting a 500 on the callback. It looks like an issue with httpxoauth `client.get_access_token`

[code]

[2020-07-12 00:19] serain commented on #254
Diving into `httpx_oauth`, it seems the issue is that GitHub is returning form-data instead of a json response:

```b'access_token=<ACCESS_TOKEN>&scope=user%3Aemail&token_type=bearer'```

[2020-07-13 22:09] moreinhardt commented on #253
Wow thanks for the ultra fast response!

That's really neat indeed. I think that would be really valuable to add to the docs. Do you agree?

[2020-07-14 09:07] darkdkl opened #258 "difficulties in OAuth2 authorization"
Greetings.
just starting to learn FastAPI please do not judge strictly.
I need to authorize users through social networks (OAuth2)
example from documentation [Tortoise ORM Full example ](https://frankie567.github.io/fastapi-users/configuration/oauth/)
with GoogleOAuth2 for authentication requires authentication_backend
I tried to transmit the jwt_authentication string too .... please direct to the

[2020-07-16 12:37] MariusMez opened #261 "Better and safer regex for email retrieving"
Hello :-)

A simple proposal to improve this line:

https://github.com/frankie567/fastapi-users/blob/1b6c832b28dc8e3b082765bb2e970cbd759fc0ce/fastapi_users/db/mongodb.py#L32

Currently this doesn't work (tested using mongodb) with emails using special characters like : 'john.doe+something@email.com'

This line could be safer written, escaping the email of any special characters which might affect

[2020-07-16 15:21] frankie567 commented on #261
I knew while writing this it would cause issues. I was surprised that MongoDB didn't have a simple case-insensitive search operator. Anyway, thank you for the fix, I'll look into it!

[2020-07-16 15:23] frankie567 commented on #258
Hey there!

Could you describe in more details the issue you are experiencing? Do you have an error or something?

[2020-07-16 15:24] frankie567 commented on #253
Hey, why not 👍

[2020-07-16 15:25] MariusMez commented on #261
Yes for that case-insensitive search I think in mongodb we need to create a specific index with a specific collation...

[2020-07-16 15:39] frankie567 commented on #254
Ok, I can reproduce the issue. It seems that GitHub is returning urlencoded responses instead of JSON (🙄). I'll transfer this issue to `httpx-oauth`. Thank you for the feeback!

[2020-07-16 15:48] darkdkl commented on #258
Greetings.
I can't figure out what is expected in this field ... backend name? I tried and JWTAuthentication and jwtauthentication .... perhaps due to the fact that I translate the documentation with the googl translator ... I am missing something ... then, I'm sorry .. but I can't find the answer .... maybe information on the link [routers documentation(page not found) ](https://frankie567.github

[2020-07-16 15:52] frankie567 commented on #258
Ok I see! Maybe it's not very clear in the documentation. You need to put the `name` of your authentication backend. By default, for JWT, it's simply `jwt`. You can read explanations about this here: https://frankie567.github.io/fastapi-users/configuration/authentication/jwt/#configuration

Hope it'll help!

[2020-07-16 15:54] darkdkl commented on #258
URAAAAAAAAAA, .....
thank you ... I suffered for several days ... trying to find the answer

[2020-07-16 15:58] frankie567 commented on #258
I'll improve the documentation about this :)

Cheers!

[2020-07-16 16:10] Lepiloff opened #262 "Extend user model and migrations with alembic"
Hi!
At my project im using fastapi, sqlalchemi, databases and alembic. I'm trying to add a library fastapi-user,  but I faced the problem of using the syntax of model definition as in the library of databases and migrations to alembic.
What am I talking about...

At the db.py I create `metadata` and `database` objects
**db.py**

[code]
Create any models using `databases` syntax

**models.py**

[co

[2020-07-16 16:24] frankie567 commented on #261
Sounds so 😅 Do you have any pointers to doc or articles that would explain how to implement this?

[2020-07-16 16:35] MariusMez commented on #261
Related official doc: https://docs.mongodb.com/manual/core/index-case-insensitive/

But I think you could just keep the updated regex method as it does the job.

[2020-07-16 16:38] frankie567 commented on #262
Hey there!

I have to admit I'm not very experienced in SQLAlchemy and Alembic. In `fastapi_users` implementation, we use the declarative way. According to [SQLAlchemy docs](https://docs.sqlalchemy.org/en/13/orm/extensions/declarative/basic_use.html#accessing-the-metadata), there is a way to melt the two:

[code]

I've not tested it but this sounds promising.

[2020-07-16 19:01] Lepiloff commented on #262
Your code works, thank you for your help.

[2020-07-16 19:01] #262 closed

[2020-07-17 11:27] Lepiloff opened #265 "Register user error"
Hey there!

Then I try to register new user `http://127.0.0.1:8000/auth/register `

I get an error
[code]
The changes that I made

Extend user model
**model.py**
# Custom user
[code]
And add fields `name` to pydantic file
**schemas.py**

[code]

Is it right idea to add field name to each pydantic clases?

The main question is, what is the cause of the error that occurs?

**p.s.**
The same result a

[2020-07-19 08:00] frankie567 commented on #265
Hey!

The problem is here:

[code]

You should write:

[code]

As for adding the field to each Pydantic class, yes, you can do it like this. Actually, you don't have to repeat them when you inherit from `User`, but it doesn't do any harm.

[2020-07-20 06:59] Lepiloff commented on #265
@frankie567 Great! it works? thank you

[2020-07-20 06:59] #265 closed

[2020-07-20 14:28] #261 closed

[2020-07-20 14:28] #253 closed

[2020-07-20 14:28] #258 closed

[2020-07-20 14:31] frankie567 commented on #261
After all, I went over the collation index path. It doesn't add lot of complexity, and I think it'll be more efficient in the long-run. By default, the adapter instantiates a collation with sensible defaults, but we let the possibility to pass a custom one if needed.

[2020-07-21 00:29] moreinhardt commented on #253
Great work, thank you!!

[2020-07-22 11:42] SkullTech opened #271 "Create a database adaptor for AWS DynamoDB"
It can be added using [`boto3`](https://github.com/boto/boto3) or even something higher level such as [`pynamodb`](https://github.com/pynamodb/PynamoDB). What do you think? If you wanna do this I can help you if you need. Or I can take this up myself if you are not familiar with AWS, with some help from you I can do this.

[2020-07-24 08:19] #251 closed

[2020-07-25 07:11] frankie567 commented on #271
Hi @SkullTech!

Interesting indeed! Have you heard of an `async` implementation of the client? One of the benefit of `fastapi` and friends is to be `async`-first, so it would be cool to have it as async also.

[2020-07-25 07:27] SkullTech commented on #271
Yeah implementing this using `async` libraries would be great indeed. I looked around and it seems [`aioboto3`](https://github.com/terrycain/aioboto3)—which uses [`aiobotocore`](https://github.com/aio-libs/aiobotocore) as a backend—is the best one there is.

[2020-07-25 18:54] diflores opened #273 "Use email as field name instead of username"
Hello, Frankie!

First, I want to thank you for this fantastic job; it has helped me a lot in a few projects (both personal projects and for school). I'm posting this issue because in `auth/jwt/login`, I want to keep using email authentication, but I want to use "email" as the name of the corresponding field, instead of the current name, which is "username". I would like to accomplish the followin

[2020-07-25 18:59] SkullTech commented on #271
@frankie567 Should I go ahead and start implementing it? I can send a pull request once I'm done.

[2020-07-27 05:40] frankie567 commented on #271
Sure go on :)

What you have to do is:

* Create a class that inherits from and implement the required methods of [`BaseUserDatabase`](https://github.com/frankie567/fastapi-users/blob/master/fastapi_users/db/base.py)
* Create a test file on the model of the others : https://github.com/frankie567/fastapi-users/blob/master/tests/test_db_sqlalchemy.py In the case of DynamoDB, I think you'll have to m

[2020-07-27 06:02] frankie567 commented on #273
Hello 👋

Glad it helps 😃

Well the issue with this is that it internally uses the [OAuth2 flow provided by FastAPI](https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/#get-the-username-and-password) with the [OAuth2PasswordRequestForm class](https://github.com/tiangolo/fastapi/blob/master/fastapi/security/oauth2.py#L13): it closely follows the OAuth2 spec and so defines the field as `use

[2020-07-27 14:20] diflores commented on #273
Amazing! Thanks for your detailed answer. Will try to implement this! Thanks again!

[2020-07-27 14:20] #273 closed

[2020-07-28 22:25] fessacchiotto opened #278 "sqlalchemy.exc.CompileError: Unconsumed column names: items"
Hi! I'm getting this error:

`sqlalchemy.exc.CompileError: Unconsumed column names: items`

when running a fastapi-users call to register a user, trying to integrate the fastapi sqlalchemy tutorial with the fastapi-users example.

I think it could because of the specification of a one-to-many relationship between two models.

The sqlalchemy models used are:

[code]

[code]

Any help will be much a

[2020-07-29 06:43] fessacchiotto commented on #278
It is depending on a pydantic model used for User:

[code]
The ` items: List[Item] = [] ` line is triggering the error... why?

[2020-07-29 06:52] fessacchiotto commented on #278
Posted to the fastapi github site (https://github.com/tiangolo/fastapi/issues/1808). Closing here. Thanks!

[2020-07-29 07:12] fessacchiotto commented on #278
I'm still uncertain as what the root cause is. I'm going to reopen here too if I can get some help from this community too...

[2020-07-29 07:31] fessacchiotto commented on #278
stacktrace of the error:

[code]

[2020-07-29 10:14] fessacchiotto commented on #278
Closed the terminal window (on a Mac). Recreated from scratch the terminal and activated the virtual environment. The isseu disappeared. Closing for good. Sorry for this.

[2020-07-29 10:14] #278 closed

[2020-08-04 22:20] lowercase00 opened #286 "Permissions and Modules"
Hey, thanks a lot for the program, seems great indeed.
I was wondering if there's any plan to add Permissions (can_list, can_edit etc) and Modules (moduleA, moduleB) to the roadmap. I would imagine being able to register the application's modules, and while registering the user being able assign permission to modules (if I'm not mistaken Flask App Builder does something similar). Probably could be

[2020-08-05 16:22] frankie567 commented on #286
Hi @lowercase00!

Currently, this is not on the roadmap. I feel this is not in the scope of this project (see https://github.com/frankie567/fastapi-users/issues/217#issuecomment-644100504).

Cheers!

[2020-08-10 14:16] SelfhostedPro opened #291 "CSRF cookies"
Hi, I think it would be beneficial to include csrf cookies along with the standard jwt cookies in order to help prevent your jwt tokens from getting stolen.

You can see what flask-jwt-extended does here: https://github.com/vimalloc/flask-jwt-extended/blob/5bd8b1ed08ea64d23869a629af3c3c868816b8a8/flask_jwt_extended/utils.py#L260

[2020-08-10 23:44] SelfhostedPro commented on #218
@frankie567 could you provide instructions in documentation on how to add a user in a similar way as to how you do in the register API so that if we want to do this we are able to easily?

[2020-08-11 00:21] SelfhostedPro commented on #291
If you're able to, it may be beneficial to add documentation on manually adding a user via the Databases package in a similar way to how you do in the /register endpoint for people who would like to automatically generate an admin user if there currently are none.

[2020-08-11 14:23] SelfhostedPro commented on #291
As far as the db stuff goes, this is what I have for creating a new user in a similar way to how the /register endpoint does. Please let me know if there's something wrong with doing things this way.

[code]

This is a function in the auth.py file that just exposes the same function that you use for the /register endpoint.
[code]

[2020-08-11 17:09] SelfhostedPro opened #292 "TypeError: __call__() takes 3 positional arguments but 4 were given (_update_user issue)"
This bit of code in users.py is what is causing the issue:
[code]
Here is the full log:
[code]
I am using cookie authentication if that changes anything. Commenting out the `if after_update` line fixes this issue for be so I suspect I may be doing something incorrect there.

[2020-08-12 19:12] SelfhostedPro commented on #193
@roshmath can you say what the fix was?

[2020-08-12 19:22] SelfhostedPro commented on #193
I believe the resolution may have been setting cookies_secure to False as that's what resolved it for me.

[2020-08-12 22:42] SelfhostedPro opened #295 "Websocket support?"
Hey, is there a way to have websocket support with this or is there a function we can call inside of a function/route to get the current user? I'm trying to use it in a function for a websocket to see if there's a user returned by get_active_user but it gives me an exception everytime:

[code]

[2020-08-13 12:07] frankie567 commented on #291
Hi @SelfhostedPro!

I don't see anything wrong with the code you are showing ; even if I still personally think it's better to set the superuser flag manually from the database ; but that's okay!

As for the CSRF, I'll look further into it, thanks!

[2020-08-13 12:10] frankie567 commented on #292
Could you provide your `on_after_update` function? It looks like an argument is missing.

[2020-08-13 12:25] frankie567 commented on #295
Well, I've not really thought about WebSockets before. Apparently, you can use `Depends` in the websocket parameters (https://fastapi.tiangolo.com/advanced/websockets/#using-depends-and-others) so I guess you can try to do `users=Depends(get_current_active_user))` ; but there will be probably some gotchas there.

[2020-08-13 13:08] SelfhostedPro commented on #292
Ah, I never defined an on_after_update. I didn't know it was required.

-------- Original Message --------
On Aug 13, 2020, 5:10 AM, François Voron wrote:

[2020-08-13 13:10] SelfhostedPro commented on #295
Yeah, I didn't have luck with this. Trying to protect a websocket that shows logs for docker containers so locking it down is important. Is there anything I can do to help this get implemented?

-------- Original Message --------
On Aug 13, 2020, 5:25 AM, François Voron wrote:

[2020-08-13 13:33] frankie567 commented on #292
It's not required, unless you specify it in `get_users_router` method: https://frankie567.github.io/fastapi-users/configuration/routers/users/#after-update

[2020-08-13 13:44] SelfhostedPro commented on #292
I don't have it specified anywhere afaik:
https://github.com/SelfhostedPro/Yacht/blob/c805270c1d6b6004881ca6e0e35bf9b4377ee1ac/backend/api/main.py#L32
^that is where my users router is specified

https://github.com/SelfhostedPro/Yacht/blob/vue/backend/api/auth/auth.py
^that is where I have configured FastAPI-users

[2020-08-13 14:02] frankie567 commented on #292
Here is the problem:

[code]

You pass `cookie_authentication`, which is wrong. You should pass either nothing, or an `on_after_update` function if you need one.

[2020-08-13 14:19] frankie567 commented on #193
Yes, you may have to set `cookie_secure` to `False` in local development to make it work. However, I **highly** recommend to make it an environment variable setting so that it's enabled in production. This way, the cookie is only sent over HTTPS connections.

See: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

[2020-08-13 15:17] SelfhostedPro commented on #292
Ahhh, perfect. I think I was confused by the official documentation as I was only using [this](https://frankie567.github.io/fastapi-users/configuration/routers/auth/) page to build the routes. I'll fix that. Thanks!

[2020-08-13 15:17] #292 closed

[2020-08-13 15:22] SelfhostedPro commented on #295
Alright, I can get the jwt token as a string in websocket._cookies['fastapiusersauth'] but jwt.decode gives me `jose.exceptions.JWTClaimsError: Invalid audience`.

Is there another way I should be decoding it?

Here is an example of how it's stored in websocket._cookies['fastapiusersauth']:
[code]
Here are my functions so far:
routers/apps.py
[code]
utils.py (WiP)
[code]

[2020-08-13 20:39] SelfhostedPro commented on #295
This works:
utils.py
[code]
routers/apps.py
[code]

Could you double check and make sure it looks alright? Might consider adding something similar to documentation for other people doing the same thing.

[2020-08-14 07:04] frankie567 commented on #295
Actually, you could reuse the `CookieAuthentication` class logic. It has a `__call__` method which expects two parameters : credentials (`str`) and a database adapter:

https://github.com/frankie567/fastapi-users/blob/9e499791deae8d7c4c25f0ef6a786f493768fff0/fastapi_users/authentication/cookie.py#L61-L63

So you can do something like this, by reusing the components of `fastapi-users`:

[code]

Thi

[2020-08-14 21:19] SelfhostedPro commented on #295
Awesome! Just set this up and it works like a charm. Thanks for all of your help! This has been the most instrumental addition FastAPI for my app. I really appreciate all the work you've done!

[2020-08-15 14:10] frankie567 commented on #295
Glad to hear it, thanks 👍

[2020-08-15 14:10] #295 closed

[2020-08-16 07:30] frankie567 commented on #291
I just discovered this project:  https://github.com/simonw/asgi-csrf

It's an ASGI middleware that handles CSRF protection. I'll look into this, but I think this would allow to implement this security without having to implement it in `fastapi-users`. If so, I'll add some documentation about how to setup it.

[2020-08-17 15:37] Houjio opened #302 "Weird response from /auth/register"
When making a request to /auth/register through curl or python requests I have no problem registering a user. When I run it through Jquery Ajax I get back the error message:

I looked through some of the code to find out why I would get this back without results.

Here is my Ajax call:

`$.ajax({`
                `    "url": "/auth/register",`
              `      "method": "post",`

[2020-08-18 02:52] lefnire opened #303 "cannot import name 'FastAPIUsers' from 'fastapi_users'"
Following the SQLAlchemy tutorial. I'm indeed doing `from fastapi_users import FastAPIUsers`, but as you can see even without it `__init__.py` is trying same and can't reach it. Version 3.0.4.

[code]

[2020-08-18 09:10] Atem18 opened #305 "Protect /register ?"
Hi,

First, thanks for the plugin, it's really helpful.

Second, how can I protect the register route ? I would like to setup a super-admin user by default (like django, I will do it via CLI) and that after, only a logged-in super-admin can register people.

Thanks in advance for the answer.

[2020-08-18 18:43] lefnire commented on #303
Hmm, new docker container with same deps no error. Maybe a fluke, I'll reopen if not

[2020-08-18 18:43] #303 closed

[2020-08-18 18:44] lefnire commented on #106
Yes please to this! Definitely want it pre forgot/reset pw

[2020-08-19 17:31] #286 closed

[2020-08-22 17:27] lefnire opened #308 "Use sqlalchemy.orm.session instead of databases?"
Got a decent-sized project already built on SQLAlchemy. I'm using [fastapi-sqlalchemy](https://github.com/mfreeborn/fastapi-sqlalchemy) to inject a Session object into routes. Alternatively, [FastAPI's documentation](https://fastapi.tiangolo.com/tutorial/sql-databases/) uses samples of `SessionLocal = sessionmaker(... bind=engine)` used with injection:

[code]

I figured: that's fine, I'll have fa

[2020-08-25 10:49] Atem18 commented on #305
@frankie567 Any idea ?

[2020-08-26 07:57] frankie567 commented on #305
Hello!

It's actually pretty easy using the FastAPI ability to [add dependencies to a whole router](https://fastapi.tiangolo.com/tutorial/bigger-applications/#include-an-apirouter-with-a-prefix-tags-responses-and-dependencies). Since the `/register` router is available by itself in `fastapi-users`, you can do something like this:

[code]

Cheers!

[2020-08-26 08:02] frankie567 commented on #302
It's been a while since I've used jQuery, but my guess is that you have to `JSON.stringify` your data before sending it. You should also set `dataType: "json"` to help jQuery parse the response correctly:

[code]

[2020-08-26 08:03] frankie567 commented on #302
As a side note, I strongly recommend, if you can, to switch to a more modern HTTP request library like [`axios`](https://github.com/axios/axios).

[2020-08-26 08:10] frankie567 commented on #308
Well, I've to admit I've not understood everything here.

Concerning the SQLAlchemy ORM issue, my advice would be to implement a custom DB adapter that uses SQLAlchemy ORM. It's pretty easy, all you have to do is extend `BaseUserDatabase` and implement the abstract methods: https://github.com/frankie567/fastapi-users/blob/master/fastapi_users/db/base.py

You can take inspiration from the SQLAlchem

[2020-08-26 09:09] Atem18 commented on #305
@frankie567 Thanks, it works.

[2020-08-26 09:09] #305 closed

[2020-08-26 17:23] lefnire commented on #308
Oh fantastic, that's just what I need thanks! Yeah sorry for the jumble, the short of it is I'm super heavy on the sqlalchemy use in my app, and I realized I had to double load users (once through the Depends, and again to get my alchemy model helper properties). Not a biggie once I realized that, just took me a while. I'll make an adapter

[2020-08-26 17:23] #308 closed

[2020-08-31 16:48] diegorosen commented on #106
Hi @dralshehri , do you have any update on this ? I was thinking on developing it before I found your great idea.

[2020-09-02 08:17] sandeepdevagiri opened #318 "pydantic validation error for UserDB"
I am using MongoDB backend for authentication and I am getting 500 Internal service error when trying to create a new user using register route.

Here is the code I am using

from fastapi import APIRouter
from fastapi_users import models, FastAPIUsers
from fastapi_users.db import MongoDBUserDatabase
from fastapi_users.authentication import JWTAuthentication
import motor.motor_asyncio

class User(m

[2020-09-02 08:30] frankie567 commented on #318
Your `UserDB` class should inherit from the `User` class:

[code]

[2020-09-02 09:02] sandeepdevagiri commented on #318
Thanks.

[2020-09-02 09:02] #318 closed

[2020-09-03 15:23] Boot-Error opened #320 "Cannot register due to Pydantic Validation Error"
I want to integrate fastapi-users into my application and while following the tutorial of using FastAPI users with
- db as mongodb
- jwt token authentication

I receive this internal server error at `/auth/register`, the trace has the line few lines denoting validation error by pydantic.
[code]

At registration shouldn't the `id` be generated?

[2020-09-03 16:40] Boot-Error commented on #320
This happens only when I try to add additional Parameters to `User` class.

[2020-09-03 17:13] Boot-Error commented on #320
Okay I figured it out, guess this wasn't mentioned in the documentation.

# if you are adding additional parameters to your User Model then
- Add the parameters in Optional in the User Model
- Add the parameters in UserCreate Model

Example:
[code]

This solves issues I found at
1. `/register` router where there was a validation error
2. `/auth/jwt/login` when authentication, if the parameters are

[2020-09-03 17:13] #320 closed

[2020-09-04 04:52] kigawas opened #322 "Add gino support"
This should be shared with sqlalchemy support a lot. Perhaps it's better to extract the sqlalchemy core part.

[2020-09-04 05:45] frankie567 commented on #320
Also maybe check my answer in issue #318:

[2020-09-04 05:47] frankie567 commented on #322
Why not, I'm not familiar with gino, but I guess it could be quite easy to implement a database adapter for it.

[2020-09-05 20:50] dralshehri commented on #106
I will try to finish it by a week or two.

[2020-09-06 15:18] lefnire commented on #248
I'm using [tensorflow/tensorflow:latest-gpu](https://hub.docker.com/layers/tensorflow/tensorflow/latest-gpu/images/sha256-a0d274b584f757eae4fc82562daf52e608a7190b96a86a4e547ce9ae77f855e9?context=explore) which uses 3.6.9 (come on Tensorflow... so close...) and I'm pretty tied to it at present. Does fastapi-users use 3.7 features not available in 3.6? If so I'll do the work finding a way around; if

[2020-09-06 16:46] lefnire commented on #248
I was able to switch to [pytorch/pytorch](https://hub.docker.com/layers/pytorch/pytorch/1.6.0-cuda10.1-cudnn7-runtime/images/sha256-9c3aa4653f6fb6590acf7f49115735be3c3272f4fa79e5da7c96a2c901631352?context=explore) and manually `RUN pip install tensorflow`; was doing the reverse (want the Dockerfile since it sets up CUDA/cuDNN). pytorch/pytorch uses 3.7.7. Phew!

[2020-09-07 03:38] hidaris commented on #322
I'd love to, and have a plan to do it.

[2020-09-09 13:11] #302 closed

[2020-09-09 14:12] tomlew-ceva opened #325 "Pydantic validation error with OAuth / SQLAlchemy"
First of all thanks a lot for the fastapi-users work, it is a wonderful initiative that helps a lot!!
Using it with SQLAlchemy and both cookie and google oath, I have had an issue with pydantic validation inside the make_user function, and I may have a lead to solve it.

More precisely, when calling "get_by_email" on an existing user that has already logged in with Google Auth, I get the following

[2020-09-12 06:48] dralshehri commented on #106
I've reviewed the code and docs to see if my suggestion is still valid or not. Let me do a deep dive in flows that might need email verification.

## Password Reset Flow:

The current implementation is supporting email verification through `after_forgot_password` handler but it might need to be clarified in documentation. For example:

1. User initiates the password reset by `forgot-password` rout

[2020-09-12 06:55] frankie567 commented on #106
Hello @dralshehri! Thank you for this thorough investigation. I still think it's a good feature, however, I wish it to be optional.

I'll probably work on it myself as it'll probably require lot of changes. However, I'm a bit busy at the moment, so it'll probably take some time to be released.

[2020-09-15 03:01] lvar opened #329 "Can't add fields for register model"
I'm trying to add some extra fields for register users, here is my code:

`

      from tortoise import fields
      from tortoise.contrib.pydantic import pydantic_model_creator
      from fastapi_users import models
      from fastapi_users.db import TortoiseBaseUserModel, TortoiseUserDatabase
      from tortoise.contrib.starlette import register_tortoise

      class User(models.BaseUser):

[2020-09-20 18:14] kellen opened #332 "Additional unique fields"
I added a unique screen name field to the user model:

[code]

But I'm not seeing anywhere to hook in to the register route & verify that a submitted name is unique before creation is attempted which results in a DB error when the uniqueness constraint is violated.

I can hack around this by copypasting the route but some api for validation in such cases would be better.

[2020-09-22 06:01] frankie567 commented on #325
Hi @tomlew-ceva!

Thank you for your bug report. Unfortunately, I can't find a way to reproduce it in unit tests. Actually, there is a unit test that ensures it's working: https://github.com/frankie567/fastapi-users/blob/c5f53b73d1fd665a6c2850ab3bce7f2d02f0f5b4/tests/test_db_sqlalchemy.py#L155-L201

When I dig into this, the `oauth_accounts` results from SQLAlchemy is a list of [`RowProxy`](https:

[2020-09-22 06:06] frankie567 commented on #329
You are confusing Tortoise fields and Pydantic fields. You should add your fields in the Pydantic models (which are used by FastAPI for API validation), and in the Tortoise model (which is used for database management). Something like this:

[code]

[2020-09-22 06:21] frankie567 commented on #332
Well, the issue in this case is that we have to do a database query to ensure the `display_name` is unique ; contrary to "simple" validation that could occur in the Pydantic model.

Currently, there is no way to hook directly into the route. I believe what you could do instead of copy/pasting the route is to implement your custom route and call the provided route after if your validation passes. S

[2020-09-22 08:03] p3t3r67x0 opened #335 "Is there a on_after_reset_password hook when calling /auth/reset-password successfully?"
Hi great tool, thumbs up!

I wonder if there is something like a `on_after_reset_password` hook when calling /auth/reset-password successfully?

What I have so far looks like this but I could not figure out if there is a callback `on_after_reset_password`.

[code]

Do I miss anything?

[2020-09-22 08:05] frankie567 commented on #335
Hi there!

Unfortunately, no, there is no `on_after_reset_password` hook at the moment. What would you be your use-case for this?

Cheers!

[2020-09-22 14:12] p3t3r67x0 commented on #335
Hi thanks for your quick response. Really appreciate your work! The use case would be to send the user an email that the password was changed and if it wasn't the user he might has to contact the support. Did you got what I mean?

[2020-09-22 17:57] SelfhostedPro opened #336 "SameSite Cookie setting"
Would it be possible to add a setting to change the SameSite settings of a cookie? I would like to enable iframe embedding of my application as it's selfhosted and some people use things like [organizr](https://github.com/causefx/Organizr) to view it.

[2020-09-22 18:04] SelfhostedPro commented on #336
PR here: https://github.com/frankie567/fastapi-users/pull/337

[2020-09-23 11:35] lockieRichter opened #338 "Get all users route"
Love the project and the ease that it can be implemented.

It would be great if there was an endpoint on the Users router that returned a list of the users. This would just return a list of the users that could be gotten from GET /{user_id} if you knew all the ID's.

[2020-09-24 10:29] frankie567 commented on #338
In the first versions, there used to be such endpoint. I removed it because it can vary greatly from one project to another : how you handle pagination ? Which users can call the endpoint? Which users can you see according to your permissions? And so on.

So I prefer the developers to implement it themselves so it perfectly fits their need 😃

[2020-09-24 16:09] lvar commented on #329
@frankie567 Working!! I'm a fool hahaha Thank you!!

[2020-09-24 16:09] #329 closed

[2020-09-24 16:17] lvar opened #340 "Adding relation between user model and custom model error"
I try to link the base user model with OneToOneField to another model I have created...Like this:

`

         from tortoise import fields, models
         from tortoise.contrib.pydantic import pydantic_model_creator
         from fastapi_users.db import TortoiseBaseUserModel, TortoiseUserDatabase

        class UserModel(TortoiseBaseUserModel):

            nombre = fields.CharField(max_length=10

[2020-09-24 17:09] #340 closed

[2020-09-24 19:26] lefnire commented on #338
Definitely prefer individual devs to implement. I want control over

[2020-09-25 04:58] lockieRichter commented on #338
That's a good point I hadn't considered.

I would have assumed that only admin users can call the endpoint and they can see all the users. But I think I agree that it's better to favour the flexibility of having developers implement it themselves with that all in mind.

Thanks for the response 👍

[2020-09-25 13:31] #338 closed

[2020-09-25 13:31] #325 closed

[2020-09-26 14:52] SelfhostedPro commented on #291
Is there a way to disable the stale bot on a specific issue? That looks like it would work. It's unfortunate that they haven't responded to your issue though.

[2020-09-26 20:48] kellen commented on #332
Ah, that's not a terrible solution, thanks. Perhaps worth adding to the docs.

[2020-09-27 09:46] lill74 opened #343 "VARCHAR requires a length on dialect mysql"
Hello
# Problem
There is something error on creating tables on MySQL.
`
sqlalchemy.exc.CompileError: (in table 'user', column 'email'): VARCHAR requires a length on dialect mysql
`
effected columns
SQLAlchemyBaseUserTable:
email
hashed_password

SQLAlchemyBaseOAuthAccountTable:
oauth_name
access_token
refresh_token
account_id
account_email

https://github.com/frankie567/fastapi-users/blob/0134a43f

[2020-09-27 09:49] lill74 commented on #343
I think the best way of solve this problem is adding length to columns.

[2020-09-27 22:11] nicolaipre commented on #343
I am experiencing the same problem.

[2020-09-29 13:37] MariusMez opened #349 "Duplicate Key Error (maybe not related with Fastapi-user but help needed)"
Hi @frankie567

Sometimes in a "production" application using fastapi-user (with Gunicorn and uvicorn and concurrency), I have this error I'm not unable to reproduce by myself in dev mode.

It occurs sometime at registration when two users want to register in the same two minutes.
I don't know if it's related to the use of Fastapi-user but maybe I can find some help here to understand this error :

[2020-09-29 13:47] MariusMez commented on #349
Also a precision concerning the uuid use, here is my User class, I set uuid here because I need to have it in str format in the field uuid_str (and I didn't find a way to do it without updating the object in an other query after registration by getting the value set with the default validator in models.BaseUser)

[code]

[2020-09-29 15:36] lvar opened #350 "Token refresh"
I have many doubts about token refresh implementation in the docs:

         from fastapi import Depends, Response

         @router.post("/auth/jwt/refresh")
         async def refresh_jwt(response: Response, user=Depends(fastapi_users.get_current_active_user)):
              return await jwt_authentication.get_login_response(user, response)

How can I use this function on a real project?...
Abou

[2020-09-29 17:37] lvar opened #351 "login Response when user not found"
I send the login params and if the user is not found on db, the app just raise an internal console exception with this message:

**tortoise.exceptions.DoesNotExist: Object does not exist**

I have a frontend interface running on different port...so when I try to see the response from the login request, there is no message on browser console, just error 500, with no description. Is there a way of a

[2020-09-30 05:23] frankie567 commented on #291
Sorry! I didn't pay attention!

[2020-09-30 05:25] frankie567 commented on #335
Yes, I totally get it! Unfortunately, there is no way to do this at the moment ; but I'll definitely think about it!

[2020-09-30 05:27] #336 closed

[2020-09-30 05:52] frankie567 commented on #349
Hi @MariusMez!

I think there is something wrong with your model here. The way I see it, you generate the UUID when the source code is loaded, and never after. A bit like when we mistakenly use mutable default arguments (see https://docs.python-guide.org/writing/gotchas/). Simple reproducible example:

[code]

I think it works most of the time because Gunicorn should spawn a new process, and thus

[2020-09-30 06:05] frankie567 commented on #350
The purpose of this refresh endpoint is to get a new token while you still have a valid one.

A common use-case is to call it whenever your user gets back into your app. This way, you ensure you always have a fresh one before the previous expires.

You should call it with a JWT or Cookie (depending on what you use) ; like any other protected endpoint.

[2020-09-30 06:07] frankie567 commented on #351
That shouldn't happen. If a user does not exist, the `login` should answer with an HTTP 400 and a message `LOGIN_BAD_CREDENTIALS` (see https://frankie567.github.io/fastapi-users/usage/routes/#post-login).

Could you post your `fastapi-users` configuration?

[2020-09-30 12:48] #343 closed

[2020-09-30 15:40] lvar commented on #351
Here it is:

            from fastapi_users import FastAPIUsers
            from fastapi_users.authentication import JWTAuthentication
            from db.models import user_db
            from endpoints.user.UserEndpoint import User, UserCreate, UserUpdate, UserDB

            SECRET = "SECRET"
            auth_backends = []

           jwt_authentication = JWTAuthentication(secret=SECRET, lifeti

[2020-09-30 15:41] frankie567 commented on #351
Could you also paste the database part?

[2020-09-30 15:58] lvar commented on #351
@frankie567

         from tortoise import fields, models
         from tortoise.contrib.pydantic import pydantic_model_creator
         from fastapi_users.db import TortoiseBaseUserModel, TortoiseUserDatabase
         from endpoints.user.UserEndpoint import UserDB

        class UserModel(TortoiseBaseUserModel):

             nombre = fields.CharField(max_length=100)
             apellidos = fiel

[2020-09-30 18:53] MariusMez commented on #349
Thanks @frankie567 for your answer and your explanation about the Pydantic validators I didn't use correctly. Much appreciated 👍

I have to dig more on this, because now I have the same error but for the email field (wich I didn't redefine in my User model )

`DuplicateKeyError: E11000 duplicate key error collection: myproject_db.users index: email_1 dup key: { email: "email@gmail.com" }, full err

[2020-10-01 11:59] lvar commented on #350
thank you!!

[2020-10-02 06:01] frankie567 commented on #351
Ok, so the problem comes from this `CheckLoginUserType` function. What's wrong in your code is that you don't catch `tortoise.exceptions.DoesNotExist` if the user does not exist.

Actually, you don't need to implement this yourself. You can use the [`get_current_superuser`](https://frankie567.github.io/fastapi-users/usage/dependency-callables/#get_current_superuser) dependency callable, which is e

[2020-10-02 06:06] frankie567 commented on #349
You're welcome!

Hmm, that's weird indeed because existing e-mail should be checked in `register` route before trying to inserting a new user. Did you override the `register` route in some way? Or did you override the `email_collation` parameter in the DB adapter?

[2020-10-02 06:27] MariusMez commented on #349
Yes very strange as I can't reproduce the problem on my computer (with a local mongo) using the same launch command with gunicorn workers. Everything is woking great

In fact I "solved the problem" by deleting one index on my mongo prod instance (a cluster in Mongodb cloud atlas). The one related to unique email (I didn't delete the one on case_insensitive email).

Deleting this unique email field

[2020-10-02 06:44] frankie567 commented on #349
I'm wondering if this particular index you deleted was an artifact of the previous version where we were case sensitive :

[WRITING...]

[2020-10-02 06:48] frankie567 commented on #349
Hmm... There is something wrong if those indices ; I'll try to dig more into this.

[2020-10-02 12:13] MariusMez commented on #349
And of course when I restart the application, the missing indexes are newly created and the problem re-appear :D

[2020-10-02 13:04] frankie567 commented on #349
Yeah, sure they are defined here:

https://github.com/frankie567/fastapi-users/blob/97cc799737d8cd8d9207c04afd37a5b90fb9eb03/fastapi_users/db/mongodb.py#L22-L42

The way it should work:

* There is a unique index on `email` ; so we shouldn't be able to insert `email@gmail.com` twice.
* If a guy tries to register with `email@gmail.com` or even `EMAIL@gmail.com`, the case-insensitive index should te

[2020-10-02 13:18] MariusMez commented on #349
Locally, it's working perfectly.

But with a "prod Mongo", the problem appears every time but only after two registrations. And if I delete the last user in the database, it allow two more registrations before the DuplicateKey error.

When I delete the unique index on email it works again.

I test to delete this unique email index also locally and after that the email checking (case-insensitive) i

[2020-10-02 14:08] frankie567 commented on #349
So, if I understand correctly:

1. A guy comes and registers with "email@gmail.com" ; all is good.
2. Another guy tries to register with the same email ; and the error is raised.

Is that it?

[2020-10-02 14:18] MariusMez commented on #349
Not really, initially the issue raise in this case:

1. A guy comes and registers with "email@gmail.com" ; all is good.
2. An other guy comes and registers with "email_2@gmail.com" ; all is good.
3. A third guy comes and registers with "email_3@gmail.com" --> Error Duplicate Key

I didn't test with a 1bis. guy trying to register twice with "email@gmail.com" but the email checking was working

[2020-10-02 14:21] frankie567 commented on #349
🤯

[2020-10-02 14:24] MariusMez commented on #349
And of course for my local mongodb, no problem.

The fix I found and which seems good for now is to remove the unique email index (only this one).

[2020-10-02 14:24] frankie567 commented on #349
Random thought: you said you were on an Atlas cluster ; are you using the right connection URL that handle clusters correctly ? In that form `mongodb+srv://<username>:<password>@<server>.mongodb.net/<dbname>?retryWrites=true&w=majority`

[2020-10-02 14:27] MariusMez commented on #349
Yes but without specifying the <dbname>

[2020-10-02 14:54] lvar commented on #351
@frankie567  I already try that one... "**get_current_superuser**"...but it gives me 401 unauthorized every time I try to login...does this function check if you are sending a token ?...cause since I try to login there is no token yet on the request.

[2020-10-02 15:17] frankie567 commented on #351
Yes, you have to be authenticated with a token/cookie to be authorized. The flow is this:

* You login using the `/login` endpoint and obtain a valid token/cookie
* You can now call other endpoints that need authentication by passing this valid token/cookie

See: https://frankie567.github.io/fastapi-users/usage/flow/

[2020-10-02 15:57] lvar commented on #351
Ok now I get it.

So following the flow you give me and applying it to my case.

A simple user could send log in credentials into my admin panel and get his token although he is not superadmin, since my two user type share the same table on db.
After he gets the token I redirect to Home route in this case.
Since the home route is protected with **get_current_superuser** will discriminate if a user

[2020-10-05 05:35] frankie567 commented on #351
Exactly! You have only one login endpoint, for every users.

If the user has the `is_superuser` flag to `True`, he will be able to access the route protected by `get_current_superuser`. Otherwise, he will get a 403 error.

In your frontend app, you can use the [`/me`](https://frankie567.github.io/fastapi-users/usage/routes/#get-me) route to get the details of the user, including the `is_superuser`

[2020-10-05 06:08] frankie567 commented on #349
I suspect there are some gotchas with the cluster/sharded nature of Atlas servers. There are a number of restrictions about this in the MongoDB doc I can't fully understand : https://docs.mongodb.com/manual/core/index-unique/

What you can do to circumvent this while we figure this out is to override the `MongoDBUserDatabase` constructor to drop the index:

[code]

[2020-10-06 09:11] MariusMez commented on #349
Thanks for the temporary fix, like you I don't understand well the differences

[2020-10-06 17:40] #351 closed

[2020-10-08 10:20] MariusMez commented on #349
FYI I've updated my mongo Atlas Cluster version from 4.2 to 4.4 and it seems the problem is gone... All is working OK with all the indexes.

@frankie567 Sorry for the headache and thanks for the Pydantic tips ! I let you close this issue ;-)

[2020-10-08 10:29] frankie567 commented on #349
Glad to hear it! I'm also on an Atlas Cluster in 4.2 ; I didn't have this issue yet, fingers crossed 🤞

[2020-10-08 10:29] #349 closed

[2020-10-08 12:24] visini opened #358 "Body content type for /login and /register"
Hi there!

I was looking into this project today. Why does `/login` require `Content-Type: application/x-www-form-urlencoded` (and not `Content-Type: application/json`), while `/register` requires `Content-Type: application/json`?

Is it due to being modelled after OAuth 2.0 specs? https://tools.ietf.org/html/rfc6749

However, some other routes require `Content-Type: application/x-www-form-urlenco

[2020-10-08 14:49] frankie567 commented on #358
Hi @visini!

Yes, it's due to the OAuth spec. Internally, `/login` uses the [builtin FastAPI `OAuth2PasswordRequestForm`](https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/#oauth2passwordrequestform) ; which works as a url-encoded form.

If that's bother you, you can easily implement a login endpoint that works with JSON, and take inspiration from the provided one.

[2020-10-09 20:09] visini commented on #358
Thank you for clarifying!

[2020-10-09 20:09] #358 closed

[2020-10-09 20:17] visini opened #361 "Pytest fails on Postgres and works on SQLite – AssertionError: DatabaseBackend is not running"
I'm running into an issue with pytest. My test functions work on SQLite but fail on Postgres.

Working pytest function, tested via SQLite:

[code]

My pytest function after changing from SQLite to Postgres (I tried to adapt async tests as per [this document](https://fastapi.tiangolo.com/advanced/async-tests/)):

[code]

Both above functions do not work via Postgres:

[code]

How to create tests fo

[2020-10-10 09:34] ihsanmohamad opened #362 "Cannot Import from fastapi_users.db for Tortoise"
Hi, i am a newbie trying to do learn how to use fastapi-users.

Following the example here [https://frankie567.github.io/fastapi-users/configuration/full_example/](https://frankie567.github.io/fastapi-users/configuration/full_example/), i was able to run with sqlalchemy and not tortoise orm

from fastapi_users.db import TortoiseBaseUserModel, TortoiseUserDatabase
ImportError: cannot import name 'T

[2020-10-10 17:08] ihsanmohamad commented on #362
Solved, i don't know why but making new project with new virtual environment works

[2020-10-10 17:08] #362 closed

[2020-10-10 21:17] #332 closed

[2020-10-12 15:12] frankie567 commented on #361
Two things to ensure:

1. You should have a startup event handler to initiate the connection to the database (as shown in the examples of the doc):

[code]

2. Those events should be triggered by the test client. HTTPX alone is not sufficient to do this. What I use in my personal project is @florimondmanca's [asgi-lifespan](https://github.com/florimondmanca/asgi-lifespan), which is specifically ma

[2020-10-13 06:15] visini commented on #361
Thanks! The startup event handler was implemented in my main.py.

After adding `asgi_lifespan` tests are running without any errors.

[code]

[2020-10-13 06:15] #361 closed

[2020-10-13 06:30] frankie567 commented on #361
Great! Tip: you can directly send JSON with `httpx`: https://www.python-httpx.org/quickstart/#sending-json-encoded-data

[2020-10-13 14:47] hannawagner opened #367 "Frontend Auth Form"
Hello!
I've tried making a simple register/login form with FastAPI but I failed. My idea was to send a simple json object containing username and password using pythons request.  I get the email and password from a simple HTML form and then post it to "auth/register".
[code]
[code]

Could somebody please tell me what kind of data/format I should send to the "auth/register"?

[2020-10-13 15:16] frankie567 commented on #367
Hi there!

Similar question in #188:

So you shouldn't write this in Python, but rather in JavaScript along with your HTML. You should read about AJAX requests : https://www.w3schools.com/xml/ajax_intro.asp

[2020-10-14 06:35] #367 closed

[2020-10-24 11:49] thejeshpr opened #372 "Is there any way to redirect to some other page after successful login by using cookie based Auth?"
I am using cookie based authentication and  I am trying to login and redirect the flow to some other page for eg. User Home once the login is successful.

Currently login route is setting the JWT token in cookie and returning None as Response show in below part of code.

       `async def get_login_response(self, user: BaseUserDB, response: Response) -> Any:
            token = await self._generat

[2020-10-24 11:59] thejeshpr commented on #372
Found solution in [Issue #111](https://github.com/frankie567/fastapi-users/issues/111)

[2020-10-24 11:59] #372 closed

[2020-10-28 19:07] akshatcx opened #375 "Create Superuser on startup"
Hi,

Really appreciate the work you have done here.

I was wondering is there a way to add a default superuser using startup itself?
I tried manually adding it to the db (mongo) but it gives me 401 when trying to access any route.

[code]

[2020-10-29 06:40] frankie567 commented on #375
I usually advise against creating a superuser on startup.

What I recommend is to register a user using the API, and then put the `is_superuser` flag to `True` for that user in the database. It only takes a minute to do.

[2020-10-30 07:13] jet10000 opened #377 "odmantic backend for mongo"
https://github.com/art049/odmantic

[2020-10-30 11:11] akshatcx commented on #375
Thank you so much for the prompt response frankie! :))

I understand that but I want to automate the entire process so that there is no dependency for other people when building this application for development.

Moreover, this will also help with the tests as I will have a default super-user which I can use in the tests. (pytest)

Maybe there is an alternative that I can use (like a cli or someth

[2020-10-30 14:47] minhpvwh opened #378 "how to change format response when register?"
Hello frankie567, i want to change format response when register user. Please help me, thank you.

[2020-11-05 20:29] kstadler opened #380 "How to extend the User"
It would be great if there was a tutorial on how to extend the User by custom fields.
E.g. I'd like to add an username field.
I tried the following in my main.py:
[code]
But all I get on registering a new user is an interal server error. Not even anything in the logs. Why is that so?

[2020-11-05 20:33] kstadler commented on #380
Update: Seems I needed to reset my sqlite database, now everything ist working.
Though I still wonder why there was no error message in my logs.

[2020-11-06 11:21] #377 closed

[2020-11-07 03:39] lvar opened #384 "Pony orm support"
Would be great if you can add support for pony orm

https://ponyorm.org/

[2020-11-12 06:32] izdwuut commented on #350
From what I see, you recommend to use existing token to refresh it. What if it leaks? The attacker could refresh it indefinitely and due to nature of JWT tokens, you'd be left with no option to revoke it. From what I know, it poses a security threat.

[2020-11-12 06:58] frankie567 commented on #350
This is exactly why it's not implemented by default in the library. Each developer has the liberty to implement it better.

[2020-11-12 07:44] izdwuut commented on #350
I see. Well, thanks for clarifying that!

[2020-11-12 10:15] izdwuut opened #387 "Wrong credentials type in routers.auth module"
Hi!

Thanks for writing this utility. It saved me tremendous amount of work. Keep up the good work!

I noticed a thing. In `get_auth_router` method from `routers.auth` module, `credentials` argument is of `OAuth2PasswordRequestForm` type. Because of that, the following fields can be provided in a `/login` request:

[code]

From what I understand, only these fields should be accepted:

[code]

I be

[2020-11-17 07:18] frankie567 commented on #375
After thinking about this, it would be nice to have a function that handle user creation, instead of having the logic nested in the route. This way, developers could import it where they want and use it programmatically. I'll work on this.

[2020-11-17 07:20] frankie567 opened #391 "Put user creation logic in a importable function"
Following discussion in #375, I think it would be nice to have a user creation function with all the related logic instead of having it nested in register route.

[2020-11-17 07:21] frankie567 commented on #375
I'll close this issue in favor of #391.

[2020-11-17 07:21] #375 closed

[2020-11-17 07:22] frankie567 commented on #378
Hi there!

Sorry for the delayed response. Currently, this is not possible. What you could do is reimplement the `/register` route yourself. You can take inspiration from the original code : https://github.com/frankie567/fastapi-users/blob/master/fastapi_users/router/register.py

[2020-11-17 07:27] frankie567 commented on #380
Hi there,

Sorry for the delayed response! Indeed, when changing the structure of your entities, you need to update the structure of your SQL database. You can either do this by hand or implement migrations (e.g. with [Alembic](https://alembic.sqlalchemy.org/en/latest/)).

The lack of error message is strange indeed ; if you get a 500 error, you should have a stacktrace in the server console.

[2020-11-17 07:27] #380 closed

[2020-11-17 07:33] frankie567 commented on #384
Hi there!

Sorry for the delayed response; PonyORM seems nice but from what I see it doesn't support asyncio. With FastAPI, I tend to favor async connectors, as it's the real selling point of the framework with improved performance and all.

That said, it should be fairly easy to implement a database adapter yourself. You can get inspiration from the Tortoise ORM one : https://github.com/frankie56

[2020-11-17 07:33] #384 closed

[2020-11-17 07:38] frankie567 commented on #387
Hello there!

Sorry for the delayed response. Actually, I followed what is recommended in the FastAPI documentation and official starters : https://fastapi.tiangolo.com/tutorial/security/simple-oauth2/ It may sound weird, but it worked quite nicely until now.

`fastapi.security.HTTPBasicCredentials` would not work in our case, as it refers to the HTTP Basic Auth scheme, with credentials set in hea

[2020-11-17 14:07] akshatcx commented on #375
Thank you so much for the consideration :))

[2020-11-18 10:50] izdwuut commented on #387
I see. Anyways, I guess I was wrong. According to OAuth2 framework [RFC](https://tools.ietf.org/html/rfc6749#section-4.3.2), you are required to send parameters defined by `OAuth2PasswordRequestForm` form. I wasn't aware of that.

[2020-11-18 10:51] #387 closed

[2020-11-20 03:54] ScrimForever opened #392 "Tortoise-orm custom user"
Iḿ trying make custom user with fastapi_users,

so

from fastapi_users import models
from fastapi_users.db import TortoiseBaseUserModel, TortoiseUserDatabase
import datetime

class User(models.BaseUser):

    nome: str = "defaultuserteste"
    data_criado: str = datetime.datetime.now()
    is_fund: bool = False
    is_agendador: bool = False
    is_revisor: bool = False
    is_aprovador: bool = Fa

[2020-11-20 14:55] frankie567 commented on #392
Did you manage your SQL migrations so that the database structure is updated : https://tortoise-orm.readthedocs.io/en/latest/migration.html ?

[2020-11-20 15:29] ScrimForever commented on #392
Yes. But when i show columns inside table, not created then...
I init , init-db, but table not apply new fields

[2020-11-20 16:54] eddsalkield opened #393 "Tortoise ORM not updating database"
Currently, the [full example](https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/#register-tortoise) for Tortoise ORM is failing.

When the server is started, the database models aren't written to the sqlite file, `test.db`.  When the `/auth/register` route is called, the server fails with `tortoise.exceptions.OperationalError: no such table: usermodel`.

This may be relat

[2020-11-20 16:58] aceSkotheim commented on #325
Hi @frankie567 and @tomlew-ceva,
Just getting this working and it looks like it will fit my purposes perfectly! Truly appreciate the work you are doing, please keep it up!
I ran into the exact problem that @tomlew-ceva had and his solution worked. Prior to implementing the solution, I did the unit-tests and it pass all tests. I noticed that it would work as expected on the first time logging in, b

[2020-11-21 00:40] ScrimForever commented on #393
@eddsalkield , did you know some workaround to make this stable while is there no solution ?

[2020-11-21 16:26] frankie567 commented on #393
I've updated the Tortoise ORM examples, so it should work out-of-the-box. Take care however of the path of your models module:

[code]

* https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/
* https://frankie567.github.io/fastapi-users/configuration/full_example/#tortoise-orm

However, I still **strongly** recommend to look into a migration system so that schema creation an

[2020-11-21 16:27] frankie567 commented on #392
I've updated the Tortoise ORM examples, so it should work out-of-the-box. Take care however of the path of your models module:

[code]

* https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/
* https://frankie567.github.io/fastapi-users/configuration/full_example/#tortoise-orm

However, I still **strongly** recommend to look into a migration system so that schema creation an

[2020-11-21 17:24] eddsalkield commented on #393
Thanks so much, I was missing the `generate_schemas` key.

[2020-11-21 17:27] #393 closed

[2020-11-21 17:30] eddsalkield commented on #106
I have some time to work on this PR.  Is anyone else is currently handling it?  Just wanting to avoid duplicating the work here.

[2020-11-21 23:48] ScrimForever commented on #393
@eddsalkield ,

I used generate_schemas and in mysql this not happening.

I willl show you my config

TORTOISE_ORM = {
    "connections": {"default": "mysql://user:password@xxx.xxx.xxx.xxx:3306/fund_api"},
    "apps": {
        "models": {
            "models": ["models", "aerich.models"],
            "default_connection": "default",
        },
    },
}

register_tortoise(
    app,
    modules={"m

[2020-11-22 00:47] eddsalkield commented on #393
Seems like this is unrelated to the issue at hand in this thread, and is probably to do with the way you're linking the user model into the login flow provided by `fastapi-users`.

Try simplifying your code to narrow down where the problem is.  You'll know whether it's a bug in `fastapi-users` or a mistake in your code once you can precisely specify how to reproduce the issue.  If you can reproduc

[2020-11-22 02:55] ScrimForever commented on #392
@frankie567

I use exactly as you inform, but my models usuarios, not migration. All others models i can use, all my custom models, just usermodel not create. How can i give more information ?

[2020-11-22 08:30] frankie567 commented on #392
Could you show us your `register_tortoise` function call?

[2020-11-22 09:07] #391 closed

[2020-11-22 09:14] frankie567 commented on #391
Released in [3.1.0](https://github.com/frankie567/fastapi-users/releases/tag/v3.1.0).

[2020-11-22 15:30] ScrimForever commented on #392
TORTOISE_ORM = {
    "connections": {"default": "mysql://xxxx:xxxx@xxx.xxx.xxx.xxx:3306/fund_api"},
    "apps": {
        "models": {
            "models": ["models", "aerich.models"],
            "default_connection": "default",
        },
    },
}

register_tortoise(
    app,
    #db_url="sqlite://db.sqlite"
    #db_url="mysql://xxxxxx:xxxxxxx@xxx.xxx.xxx.xxx:3306/fund_api",
    modules={"models

[2020-11-22 15:54] ScrimForever commented on #392
#Update

The table has been created, so the "columns" that informed on Classes, like:
nome: str = "defaultuserteste"
data_criado: str = datetime.datetime.now()
is_fund: bool = False
is_agendador: bool = False
is_revisor: bool = False
is_aprovador: bool = False

not created.

The table created has name usermodel, with columns (id, email, hashed_password, is_active, is_superuser)

[2020-11-23 06:24] frankie567 commented on #392
OK, I see what happens ; I didn't notice it in your first message. In your Tortoise model, you wrote this:

[code]

This is wrong. Field definitions in Tortoise are not the same as in Pydantic. You should follow the Tortoise way of definining fields. Something like:

[code]

Be sure to check the getting started document of Tortoise: https://tortoise-orm.readthedocs.io/en/latest/getting_started.htm

[2020-11-23 11:51] ScrimForever commented on #392
@frankie567 .

So sorry, i wrote wrong really. So, i did it as tortoise example, and columns not created too.

If i edit directly on module fastapi-users on class BaseUser(CreateUpdateDictModel):
its works.

[2020-11-23 12:21] ScrimForever commented on #392
Finally works.
The problem was i not set variable in alls classes and on UserModel i needed add class Config: with orm_mode = True.

Resolved !

[2020-11-23 12:21] #392 closed

[2020-11-24 13:28] akshatcx commented on #391
Thank you so much for this :)

[2020-11-24 18:03] titogarrido opened #396 "Empty password allowed?"
How to prevent an register with a password or username field with less than 6 characters?

thanks!

[2020-11-25 07:48] frankie567 commented on #396
Hi there!

You can add your own password validator on the `UserCreate` class. Something like this:

[code]

You can even have more complex things! Check the Pydantic validation doc to know more : https://pydantic-docs.helpmanual.io/usage/validators/

I think I will add it to the documentation, it's quite important!

Cheers!

[2020-11-25 12:45] bazakoskon commented on #262
Is there any example or documentation on how to add more models - tables using fastapi-users, apart from the prebuilt User model?

[2020-11-26 03:46] kwatog opened #397 "Integration with Firebase Auth"
I'm not sure if it's documented but I can't find a sample of integration with Firebase Auth. Basically what I want is that after verifying the idToken, the api should be able to generate the JWT token. Along with it will be the creation of the user if the id does not exists yet.

Has anyone implemented something like this? I do understand that there's option to use Google oAuth but I can't wrap my

[2020-11-26 04:04] lefnire commented on #350
I think a big draw to fastapi-users is how much it does for you. DB setup, routes, forgot-password, (verify email soon 🤞). I think refresh token is a requirement for most projects once they get off the ground, and it seems like a perfect fit to add to this library. For my part, I'm actually going to switch _off_ fastapi-users to fastapi-jwt-auth since it handles refresh tokens. I've wrestled some

[2020-11-26 06:33] frankie567 commented on #397
I don't know much about Firebast Auth, but the way I see it, it's a service that fully implements authentication logic right? So if you use it, you don't need `fastapi-users`. I may be mistaken here so correct me if I'm wrong.

[2020-11-26 06:49] frankie567 commented on #350
Hey @lefnire!

Thank your for the detailed feedback! I totally get your point, and I think you convinced me 😅 I've checked `fastapi-jwt-auth` and their approach seems indeed interesting (I especially like the freshness pattern).

Now, as you surely know, open-source is *hard* and *time-consuming*. I would like to have more time to work on `fastapi-users`, but I'm quite busy at the moment.

But I p

[2020-11-26 07:06] lefnire commented on #350
That's wonderful news! Thanks for hearing us out.

No doubt, and thanks for all your work thus far. We were just concerned it was being marked "out of scope" rather than "help wanted / someday". Hopefully one of us can help!

[2020-11-26 12:26] kwatog commented on #397
thanks for taking time to answer.

I realized that **generate_jwt** inside the utils is that I need. Here's a high-level idea of what I want to do.

**notes to those who are reading this: consider this as a pseudo code, please don't just copy-paste.**
[code]

[2020-11-26 12:26] #397 closed

[2020-11-26 17:30] lefnire commented on #350
I think that (option 2) is a great idea personally, let them handle some of the guts and fastapi-users can be more the layer on top. Saves dev work, since contribs here can fix bugs there, instead of two places. Actually wonder if / how much of fastapi-users could be refactored to use fastapi-jwt-auth under the hood for current tasks, then you could focus more on the developer-facing features.

On

[2020-11-27 14:57] kwatog opened #398 "Custom Filter in Getting Mongo User Model"
Can we have another method for MongoDBUserDatabase to query by custom field. Basically, we just pass the filter. Currently, we have the get (by id), get_by_email, and get_by_oauth_account.

the use-case for this is if you have another key (e.g, firebase uid) with which you'll retrieve the user. having this will give you more flexibility. of course, one workaround is to just populate the oauth.

My

[2020-11-28 23:31] FlorianBorn opened #399 "Docs: correct curl command for logout"
Hey,
I think there is an error in the docs (https://frankie567.github.io/fastapi-users/usage/flow/#6-logout).
Using the given example with Cookie authentication gives an "Unauthorized" response.

[code]
should be changed to:
[code]

[2020-11-29 08:16] frankie567 commented on #399
True! Nice catch! Would you be willing to do a PR for this? 😄

[2020-11-29 21:04] lefnire commented on #350
https://github.com/lefnire/gnothi/pull/124 if anyone wants to see how to blend fastapi-users + fastapi-jwt-auth to get refresh tokens

[2020-11-30 06:43] frankie567 commented on #398
Well, what you did here seems 100% correct and clean 🙂 I don't think it will have any benefit to add it into the library.

[2020-11-30 09:51] kwatog commented on #398
fair enough. closing this.

[2020-11-30 09:51] #398 closed

[2020-11-30 11:46] roywes opened #401 "typing_extensions not declared as a dependency"
In [users.py](https://github.com/frankie567/fastapi-users/blob/253e7e0e8034902d2ebf90fda3d699005139b9fe/fastapi_users/user.py#L3), `Protocols` is imported from `typing_extensions`. However, this results in a `ModuleNotFoundError` as `typing_extensions` is not declared as a dependency,

Example traceback follows.

[code]

[2020-11-30 12:12] frankie567 commented on #401
I just thought about that when reviewing your PR! Will fix this ASAP.

[2020-11-30 13:08] #401 closed

[2020-12-01 06:39] remykarem commented on #178
@mahdikhashan , you need to use quotation marks around the name `user` as it is a reserved keyword in Postgres.

[code]

https://stackoverflow.com/a/21051549/4570466

[2020-12-01 09:44] #378 closed

[2020-12-02 17:34] lefnire commented on #350
The `{secret_key}{hashed_password}` approach via fastapi-jwt-auth might not be currently possible, ticket https://github.com/IndominusByte/fastapi-jwt-auth/issues/26. But he is considering the matter there.

[2020-12-03 17:25] JeanMenage opened #405 "How to ban ip after a certain amout of tries ?"
How to ban ip after a certain amout of tries ?
Thanks

[2020-12-07 06:53] frankie567 commented on #405
Well, I think implementation of such systems depend on what you need/want. A first step would be to look into middlewares: https://fastapi.tiangolo.com/tutorial/middleware/

[2020-12-07 07:00] #396 closed

[2020-12-07 07:00] #399 closed

[2020-12-15 12:58] daanbeverdam opened #411 "Extending BaseUser database model"
Hi @frankie567, first of all thanks for creating this library. Saves me a ton of time!

In an app I'm building, I'm trying to extend the SQLAlchemy user model. I envision to have two user types (let's call them `UserA` and `UserB`) which both have their own unique attributes. My `models.py` file looks something like this:

[code]

This all works fine on a database level: I'm getting two separate t

[2020-12-16 20:03] NotoriousRebel opened #414 "Feasibility of Using Library With Just Unique Usernames"
Hello,

I recently stumbled upon this project and it looks fantastic, and I would really like to use this for a project I am working on. However, for usernames instead of the username being email-based, it's just based upon a unique username in my project. Hypothetically speaking, if I wanted to fork and tweak the library under the hood. How difficult would it be to have it so I have the option of

[2020-12-17 03:54] amantiwari1 opened #415 "verify the email after register"
Hello,

how to do it, I cant find docs on this question. please add verify feature

[2020-12-19 23:34] newageoflight opened #419 "Bug: ASGI exception when calling register endpoint"
**Platform:** Windows 10, Python 3.8.5, latest versions of FastAPI and FastAPI Users. Identical behaviour when tested on Ubuntu 20.04 LTS via WSL.

**Expected behaviour:** registration occurs as documented in the API.

**Actual behaviour:** 500 Internal Server Error as follows:
[code]

**Additional information:** Using MongoDB/Motor backend

[2020-12-21 00:52] Harrison88 commented on #291
This got me interested in reading up on CSRF, and I thought it might be helpful to share what I learned as far as FastAPI-Users is concerned.

In short, it seems that FastAPI-Users is mostly secure against CSRF already.

Routes that are potential targets:
1. `/logout` -- but all the attacker would be able to do is cause your user to logout. Since logging out basically consists of deleting the sess

[2020-12-21 09:23] hannawagner opened #423 "Redirect when user is Unauthorized"
Hello :)

I'm using fastapi-users as part of my fastapi web application. My goal is to redirect to the login page once a user is not logged in anymore!  Therefore I have it included as a router in my main.py file.
In my **main** I have following exception handler for redirecting if the user is not logged in:
[code]
This works now for all the other routers which I include. It doesn't make sense to

[2020-12-23 03:30] Harrison88 commented on #423
Hi @hannawagner!

I'm not 100% sure I understand your question, but I think you should be able to do this using a custom exception handler. The following code, which I mostly got from [the FastAPI docs](https://fastapi.tiangolo.com/tutorial/handling-errors/#re-use-fastapis-exception-handlers), should do what you're asking.
[code]

[2020-12-23 07:41] hannawagner commented on #423
Hi @Harrison88 !
Thank you for your reply - this actually solved my problem - thank you!! 👍

[2020-12-23 07:41] #423 closed

[2020-12-23 14:34] frankie567 commented on #411
Hi there,

I understand what you are trying to do here, but I think it's not a good way to do it. You should avoid splitting the same data over different tables in a database.

What you should do is this:
* Have a table `users` where you store common user data (e-mail, password, etc.)
* Have two other tables, one to store the attributes of "A" users and the other to store the attributes of "B" use

[2020-12-23 14:40] frankie567 commented on #414
Hi there,

This is not something that's supported, and I don't wish to support it for now.

However, it should indeed be quite straightforward to do it in a fork. Here is the plan:

* Add `username` property to the User models.
* Tweak `create_user` function to check username unicity.
* Add a `get_by_username` method in DB classes.
* Tweak `authenticate` method in `BaseUserDatabase` to login with

[2020-12-23 14:40] frankie567 commented on #415
This is something currently in development. See #106.

[2020-12-23 14:40] #415 closed

[2020-12-23 14:44] frankie567 commented on #419
This is something I come across in my own projects  from time to time ; it happens when several async loops are created and used. Could you provide your motor and fastapi-users configuration?

[2020-12-23 14:49] johnxiongs opened #425 "Unauthorized"
![image](https://user-images.githubusercontent.com/37213061/103008922-d4932980-4570-11eb-992e-ffe8a3f581e0.png)
I have authorized, but it show Error here

[2020-12-23 15:19] frankie567 commented on #425
Could you provide more details?

Which database backend are you using? Which authentication backend?

Could you provide your `fastapi-users` configuration?

[2020-12-23 15:37] johnxiongs commented on #425
[code]

Here is my code,I use MySQL,thanks for your reply!

[2020-12-23 15:40] johnxiongs commented on #425
Login in is success
![image](https://user-images.githubusercontent.com/37213061/103013460-28554100-4578-11eb-97a5-8a37858ccb37.png)
But Error: Unauthorized occured!

[2020-12-23 15:44] frankie567 commented on #425
Why did you add this:

[code]

`SQLAlchemyBaseUserTable` already provide the `id` column. I think this line breaks the user retrieval by id.

[2020-12-23 15:49] #291 closed

[2020-12-23 15:49] #350 closed

[2020-12-23 15:49] #405 closed

[2020-12-23 15:49] #411 closed

[2020-12-23 15:49] #414 closed

[2020-12-23 15:49] #419 closed

[2020-12-23 15:49] #425 closed

[2020-12-28 06:35] MatthewScholefield opened #431 "KeyError: 'expires_at' on OAuth2 callback for GitHub"
## Describe the bug

`KeyError: 'expires_at'` on OAuth2 callback for GitHub:

[code]

## To Reproduce

 - Create the example OAuth2 project with GitHub instead of Google OAuth
 - Navigate to `/auth/github/callback?auth_backend=jwt` (or equivalent)
 - Follow the `authorization_url` and grant your application access to your GitHub account

## Expected behavior

`null` response and a new user is crea

[2020-12-28 07:42] frankie567 commented on #431
Thank you for the detailed report! That's indeed a case I've not foreseen. The fix should indeed be to make this property optional everywhere, even in databases schemas, which will require a migration.

I'll take care of this rapidly!

[2020-12-28 07:59] #431 closed

[2020-12-28 08:16] frankie567 commented on #431
Fixed in [`v4.0.0`](https://github.com/frankie567/fastapi-users/releases/tag/v4.0.0) 🎉

[2020-12-31 20:19] MatthewScholefield opened #434 "Handling redirect for OAuth callback"
When using OAuth with the cookie backend, the callback like `/auth/google/callback` responds with a set-cookie header so I would expect that I would set this as the callback URL in my OAuth application so that the cookie would be set on the browser on redirect. However, the content of this page is always `null` and I couldn't find a way to change this (the `redirect_url` parameter in `get_oath_rou

[2021-01-05 07:02] frankie567 commented on #434
Hi Matthew,

The way you describe (redirect to a frontend application and forward the parameters to the API through JavaScript) is exactly what I do myself in my production application.

I understand your need to automatically do a 302 to a URL of your choice in the `/callback` route. However, we have to account for all cases there. For example, with the JWT authentication backend, the response ac

[2021-01-05 07:17] MatthewScholefield commented on #434
Thanks for the reply! I was thinking about overloading the auth, but I thought that be a little strange because in the non-auth login flow I think it would also redirect (but I suppose you just wouldn't ever use `AutoRedirectCookieAuthentication` for non-oauth login).

Anyways, now that I know forwarding the request from the frontend is what you do (and isn't "hacky" like I initially thought), the

[2021-01-05 07:18] #434 closed

[2021-01-08 16:34] slado122 opened #438 "SQLAlchemyUserDatabase.get_by_oauth_account method does not work with PostgreSQL backend."
In the ```SQLAlchemyUserDatabase._make_user``` method ```oauth_accounts``` list becomes a list of ```databases.backends.postgres.Record```, not ```models.BaseOAuthAccount```. As a result, pydantic validation errors occur. Example:
[code]

[2021-01-08 17:27] slado122 commented on #438
Changing line #200 in fastapi_users/db/sqlalchemy.py from ```user_dict["oauth_accounts"] = oauth_accounts``` to ```user_dict["oauth_accounts"] = [{**a} for a in oauth_accounts]``` solved the problem.

[2021-01-12 09:44] frankie567 commented on #438
Hi @slado122! Indeed, I can reproduce the issue, and your fix is working perfectly. I'll implement it right away! Thanks 👍

[2021-01-12 09:49] frankie567 commented on #106
I'm very happy to close this ticket 🎉 The feature will be released soon!

Thank you all for your help and guidance on this, especially @eddsalkield and @mark-todd who took on the job.

Cheers 👏

[2021-01-12 09:49] #106 closed

[2021-01-12 09:53] #438 closed

[2021-01-12 10:18] #335 closed

[2021-01-12 10:19] frankie567 commented on #335
Implementation done and merged! Will be released soon 👍

[2021-01-19 18:47] luismanson opened #449 "'FastAPIUsers' object has no attribute 'get_verify_router'"
Hello,
I copied the SQLAlchemy "full example" and fails with this error:
`AttributeError: 'FastAPIUsers' object has no attribute 'get_verify_router'`

Any ideas what i'm doing wrong?

Thanks

[2021-01-19 19:17] luismanson commented on #449
I had an outdated version of the module, sorry.

[2021-01-19 19:17] #449 closed

[2021-01-20 14:34] slado122 opened #450 "Make fastapi_users.db.sqlalchemy.GUID JSON-serializable"
It's an enhancement. You could make GUID type JSON-serializable so it will work out of the box with libraries like Celery and Dramatiq.

[2021-02-06 08:06] frankie567 commented on #450
Hi @slado122!

Sorry for the response delay. I think I see you want to do here, however, in my opinion, it's better if you work with Pydantic models instead of `sqlalchemy` models. Those DB models are only there to work with the database.

Sending serialized Pydantic models (using `.dict()` or `.json()`) to Celery and deserialize it back into a Pydantic model in the task process sounds more "FastA

[2021-02-06 08:06] #450 closed

[2021-02-06 08:12] frankie567 opened #474 "Reset password validation"
Follow-up of discussion #465.

There is currently no way to plug a password validation logic into the reset password router. This should be possible.

[2021-02-06 08:31] frankie567 opened #475 "Add uuid convertor to routes so they are not catching custom routes"
See #444

[2021-02-06 12:55] #475 closed

[2021-02-06 16:50] frankie567 opened #476 "All contributors init"
@all-contributors add @frankie567 for maintainer

[2021-02-06 16:51] frankie567 commented on #476
@all-contributors add @frankie567 for maintainer

[2021-02-06 16:52] frankie567 commented on #476
@all-contributors add @frankie567 for maintenance

[2021-02-06 16:58] frankie567 commented on #476
@all-contributors add @paolodina for financial support and code

[2021-02-06 17:14] frankie567 commented on #438
@all-contributors add @slado122 for bug

[2021-02-06 17:14] frankie567 commented on #431
@all-contributors add @MatthewScholefield for bug

[2021-02-06 17:15] frankie567 commented on #401
@all-contributors add @roywes for bug, code

[2021-02-06 17:36] #476 closed

[2021-02-06 17:37] frankie567 commented on #261
@all-contributors add @MariusMez  for bug, ideas

[2021-02-06 17:38] frankie567 commented on #77
@all-contributors add @grigi  for bug

[2021-02-06 17:39] frankie567 commented on #335
@all-contributors add @p3t3r67x0 for ideas

[2021-02-06 17:40] frankie567 commented on #106
@all-contributors add @dralshehri for ideas

[2021-02-06 17:40] frankie567 commented on #106
@all-contributors add @lefnire for ideas

[2021-02-08 19:21] FMajesty opened #504 "AssertionError: Unknown path convertor 'uuid'"
Updated to `0.5.1` version and got this error:
[code]

[2021-02-08 19:35] frankie567 commented on #504
Could you do a `pip freeze` and give the version of `fastapi` and `starlette`?

[2021-02-08 19:39] FMajesty commented on #504
[code]

[2021-02-09 07:05] XWilliamY commented on #271
Is this still being worked on? I see that a new context manager is opened every time a method of the database adapter is called, which doesn't look to be super efficient.
I was wondering if we could create an AsyncExitStack on startup and have the exit coroutine in the shutdown event [pretty much like the last example in the aioboto3 docs](https://aioboto3.readthedocs.io/en/latest/usage.html)
[usi

[2021-02-14 09:14] frankie567 commented on #504
Sorry, I can't reproduce the issue, even on a clean setup (see https://repl.it/@frankie567/fastapi-users-example). Are you sure your virtual environment is correctly loaded and setup?

[2021-02-17 18:55] ScrimForever opened #510 "Problem get user"
module 'fastapi_users' has no attribute 'current_user'

user: User = Depends(fastapi_users.current_user())

fastapi-users 5.1.0

[2021-02-17 19:34] frankie567 commented on #510
I think I get what's wrong here: `fastapi_users` is not the module here but the variable you defined, which is an instance of `FastAPIUsers`.

[2021-02-17 20:01] MatthewScholefield opened #511 "GitHub oauth might not return an email"
## Describe the bug

When a user without a public email set on GitHub performs OAuth, the email from `GitHubOAuth2.get_id_email` is `None` which causes the following validation error when instantiating the `BaseOAuthAccount` pydantic model in `fastapi_users/router/oauth.py:108`:

[code]

## To Reproduce

Steps to reproduce the behavior:
 - Unset any public GitHub emails in your profile:

![image](

[2021-02-17 23:34] MatthewScholefield opened #515 "Calls to deprecated user getters"
## Describe the bug

In the users routes (ie. `/users/me`) which are defined in `fastapi_users/router/users.py`, it uses dependencies like `authenticator.get_current_verified_user` causing `fastapi-users`'s own deprecation message:

[code]

[2021-02-18 02:41] ScrimForever commented on #510
My fault. Resolved !

[2021-02-18 02:41] #510 closed

[2021-02-18 08:19] frankie567 commented on #511
Apparently, this has something to do with the scopes and/or the necessity to make a separate API call: https://stackoverflow.com/questions/35373995/github-user-email-is-null-despite-useremail-scope

So, I don't think we need to do over-complicated things, but just fix the [GitHubOAuth2 client that lives in httpx-oauth](https://github.com/frankie567/httpx-oauth/blob/master/httpx_oauth/clients/githu

[2021-02-18 08:22] frankie567 commented on #515
Obviously, I forgot to change it 😅 Good catch, thanks!

[2021-02-18 09:05] MatthewScholefield commented on #511
What are your plans to deal with multiple email accounts? Perhaps iterate until one match is found and merge with that account, and otherwise use the first email to create the new account?

[2021-02-19 19:44] rbracco commented on #510
I am getting this error as well and have tried the following things

1. using `Depends(FastAPIUsers.current_user())` as I think is suggested in the reply here, which gives the same error `AttributeError: 'FastAPIUsers' object has no attribute 'current_user'`
2. using `Depends(fastapi_users.current_user())` as is suggested in the docs, where `fastapi_users` is the instance of `fastapi_users` as cre

[2021-02-19 19:49] frankie567 commented on #510
The way you describe in point 2 is definitely the way to go.

My guess is that you didn't upgrade to 5.1.0, that introduced this new dependency.

If you are in an older version, you have to use the now-deprecated ones: https://frankie567.github.io/fastapi-users/usage/dependency-callables/#deprecated

[2021-02-19 20:02] rbracco commented on #510
Thank you for the help, this is most likely it, I don't have users yet so I should be able to upgrade and try it out.

[2021-02-25 11:00] frankie567 commented on #476
@all-contributors add @rbracco for financial

[2021-03-04 16:50] #515 closed

[2021-03-04 18:04] frankie567 commented on #511
This should be fixed with latest `httpx-oauth` version (0.3.5).

[2021-03-04 18:04] #511 closed

[2021-03-04 18:04] #504 closed

[2021-03-06 18:52] sid3r opened #540 "Default users table name is usertables"
I've just tested the package and it's working fine, the code on the docs is clear and behaves almost as expected but I came across this anomaly: the default table name for users is **usertables**
any idea why it's the case? is there a way to specify a table name for users table?

## To Reproduce

The code from the docs: configuration > sqlalchemy
[configuration-databases-sqlalchemy](https://franki

[2021-03-06 21:09] sid3r commented on #308
@lefnire I'm facing the same issue, I've done heavy work relying on sqlalchemy and now I'm stuck, have you been able to use the sqlachemy.orm.session ?

[2021-03-06 22:16] lefnire commented on #308
@sid3r Frankie's right that you'll just need to write an adapter. Should be pretty minimal, but I never got around to it. I just dealt with the DB double-ping, not at a place currently where it's hurting performance so I figure I'd get to it when I get to it. That is: just use fastapi-users to auth the user, and what it returns to you you'll just throw away; re-fetch the user via `User.get(fastapi

[2021-03-07 07:22] sid3r commented on #308
@lefnire I see, the package could consider sqlalchemy and other famous ORM which developpers rely on to manage databses on FastAPI, but it's not the case here. I don't like the idea of using two DB connections for a simple thing like auth, so I'll find something else like you did. thank you for the quick reply.

[2021-03-07 15:21] lefnire commented on #308
@sid3r yeah, fastapi-users integrates well with SQLAlchemy for setting up the schema. It's just on the user-fetching bit it doesn't pull the SQLA model. I hunch they went that way for interop, and use `databases` for async (though the most recent SQLA supports async). Even if this wasn't an issue, and even if it supported xyz features, I feel that auth isn't one of those things I wanna mess with w

[2021-03-07 15:47] frankie567 commented on #308
Didn't know SQLAlchemy had implemented async support. I'll consider writing a new adapter for this.

As a side note, I would like to point out that we support several ORMs already: [Tortoise ORM](https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/) and [Ormar](https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/). If you think about other DBMS/ORM,

[2021-03-07 16:44] sid3r commented on #308
@frankie567 Haha, Sorry I went too far in my previous comment, indeed, the package already supports many ORMs like you said. Most of devs relying on _sqlalchemy_ use _session_ to manage async database transactions, implementing it in the package would be a great enhancement for futur releases. thanks for the package again.

[2021-03-07 16:51] sid3r commented on #308
@lefnire  Yep, the entire web stack is going Async, the languages are merging into complete spaghetti lol, they all copy one another to stay in the market. I don't share your thoughts on Auth, I don't like my web apps to rely too much on a heavy corp like Amazon, I'm now implementing my own auth logic for FastApi, may take a day or two but it's worth the effort.

[2021-03-07 16:53] lefnire commented on #308
@sid3r in that case, and especially if you're just starting, I'm with @frankie567 on using Tortoise. I can't because of a bunch of specialized plugins I'm using (eg encrypted columns); but I would in the future.

[2021-03-07 18:04] sid3r commented on #308
@lefnire Yea, I'm just starting, first time using FastApi so I went with the 'legacy' solutions, I don't bother redoing the models ans schemas if it's a good foundation for the rest of the project, TortoiseORM looks beautiful I'll give it a try and see. Thanks for the suggestion.

[2021-03-15 15:35] hamx0r opened #550 "Unable to use with both Routers and MongoDB"
## Describe the bug

[Details in this StackOverflow question](https://stackoverflow.com/questions/65930477/how-can-i-use-fastapi-routers-with-fastapi-users-and-mongodb).   Essentially, fastapi-users relies on a MongoDB client instance, which could be set up globally in one's `main.py`.  However, if I want to split up my app into Router files, each file would need to be able to get this MongoDB Cli

[2021-03-19 17:55] frankie567 commented on #540
Hello!

Sorry, I can't reproduce it with the example given in the documentation. Tried both with SQLite and PostgreSQL, the table was correctly named `user`. Are you sure you didn't override the `__tablename__` property on the SQLAlchemy table class?

[2021-03-20 09:08] frankie567 commented on #550
Well, what you could do is just to move all the MongoDB initialization logic in a separate module, and import it whenever you need it. I've created a working Repl.it example to show you:

https://repl.it/@frankie567/fastapi-users-modular-mongodb

[2021-03-20 09:10] #550 closed

[2021-03-23 13:19] frankie567 opened #561 "Update a user with an email already existing in DB raises an error"
## Describe the bug

See https://github.com/frankie567/fastapi-users/discussions/560

## Expected behavior

A 400 response should be returned with a proper error code

[2021-03-23 13:20] frankie567 commented on #561
@all-contributors add @Smithybrewer for bug

[2021-03-23 15:58] alexferrari88 opened #563 "Cannot access /docs because of "TypeError: Object of type 'Depends' is not JSON serializable""
## Describe the bug

When following the steps in [Dependency callables](https://frankie567.github.io/fastapi-users/usage/dependency-callables/#dependency-callables) from the website to [get the current active superuser](https://frankie567.github.io/fastapi-users/usage/dependency-callables/#get-the-current-active-superuser), I can no longer check the /docs page as I get "Failed to load API definiti

[2021-03-23 16:23] frankie567 commented on #563
Hi there!

You put the `dependencies` argument at the wrong place (see https://fastapi.tiangolo.com/tutorial/dependencies/dependencies-in-path-operation-decorators/). If you want it at the router level, it should be:

[code]

Or if you wish to have the user object at hand:

[code]

[2021-03-23 16:36] alexferrari88 commented on #563
Thank you @frankie567 !
What a dumbass I've been hahaha

Great work on the plugin btw!

[2021-03-23 16:36] #563 closed

[2021-03-23 18:13] ysomad opened #564 "SQLAlchemy 1.4.2 support"
## Describe the bug

Installing fastapi-users[sqlalchemy] and getting version solving error

## To Reproduce

Steps to reproduce the behavior:
- poetry add SQLAlchemy && poetry add fastapi-users[sqlalchemy]

## Expected behavior

install fastapi-users[sqlalchemy] dependency using sqlalchemy 1.4.2 and poetry

## Configuration
 - Python version : 3.9.2
 - FastAPI version : 0.63.0
 - FastAPI Users ve

[2021-03-23 18:16] ysomad commented on #564
[code]

[2021-03-23 18:17] ysomad commented on #564
SolverProblemError raised
`Because no versions of fastapi-users match >5.1.2,<6.0.0
   and fastapi-users (5.1.2) depends on sqlalchemy (>=1.3.13,<1.4), fastapi-users (>=5.1.2,<6.0.0) requires sqlalchemy (>=1.3.13,<1.4).
  So, because yopta depends on both SQLAlchemy (^1.4.2) and fastapi-users (^5.1.2), version solving failed.`

[2021-03-23 18:21] frankie567 commented on #564
Currently, we are blocked by `encode/databases` which doesn't support SQLAlchemy 1.4 versions. See https://github.com/frankie567/fastapi-users/discussions/554#discussioncomment-503593

Meanwhile, please pin SQLAlchemy to 1.3.x.

[2021-03-23 18:23] ysomad commented on #564
got it, thank you!

[2021-03-24 15:26] gavenwan opened #566 "decode error"
in route/verify.py
////
            data = jwt.decode(
                token,
                verification_token_secret,
                audience=VERIFY_USER_TOKEN_AUDIENCE,
                algorithms=[JWT_ALGORITHM],
            )
///
this cause error below:
   raise InvalidAlgorithmError("The specified alg value is not allowed")
jwt.exceptions.InvalidAlgorithmError: The specified alg value is no

[2021-03-24 15:57] frankie567 commented on #566
Looks like you are passing an authentication token (audience `fastapi-users:auth`) in the verify router which expects a verify token (audience `fastapi-users:verify`). If you use a token given by the `/request-verify-token` route, it should work.

Not sure though why it raises `InvalidAlgorithmError`. Could you give me your installed version of `fastapi-users` and `pyjwt`?

PS: I'm transferring th

[2021-03-24 15:57] #566 closed

[2021-03-25 18:18] silllli commented on #308
I would be thankful! I am also just starting out with FastAPI, but SQLAlchemy seems to be the most robust or tested solution available. Probably going for the (temporary) solution @lefnire described to use SQLAlchemy ORM aside `fastapi-users[sqlalchemy]`.

[2021-03-25 21:16] silllli commented on #171
It seems that the problem with the generated documentation @anancarv mentioned was reintroduced along the way.

`BaseUserCreate` is now defined as

[code]

Or should I define my own `BaseUserCreate` model (inheriting from `CreateUpdateDictModel`) instead of using `fastapi-users`’, if it should only consist of `email` and `password`?

[2021-03-26 17:15] ysomad opened #576 "Add successful response schemes for auth endpoints"
Would be great if you can add successful response schemes for:
1. login/
2. forgot-password/
3. reset-password/
4. request-verify-token/

[2021-03-26 17:47] imkrish7 commented on #154
hey @frankie567  whats the point setting /login content-type 'application/x-www-form-urlencoded' rather than 'application/json'

[2021-03-27 18:11] #576 closed

[2021-03-31 16:10] david-shiko opened #581 "tablename ("user") is keyword in postgres; data of created table is inaccessable"
postrgres version:
PostgreSQL 12.6 (Ubuntu 12.6-0ubuntu0.20.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0, 64-bit
fastapi-users version      5.1.3
SQLAlchemy                  1.3.23
starlette                          0.13.6
uvicorn                           0.13.4

Bug:
No data after user registration in `user` table

Reason:
`user` is a keyword in postgres, ch

[2021-03-31 16:36] frankie567 commented on #581
You can read more about this issue here: https://dba.stackexchange.com/questions/75551/returning-rows-in-postgresql-with-a-table-called-user

If you write your query like this (with quotes around the table name), it will work:

[code]

SQLAlchemy ensures to properly escape the table name, that's why it works properly inside the code.

Now if you *really* want to change the table name, here is what

[2021-03-31 16:36] #581 closed

[2021-04-07 16:34] Benoye opened #591 "TortoiseUserDatabase:bulk_create possibly crashing"
## Describe the bug

In OAuth2 login process, oauth_accounts are not created into the database, using Tortoise ORM. Note that the user creation/update works fine, implying that the `bulk` operation is the problem (see next section).

## To Reproduce

When using OAuth2 routers with Tortoise, the calls in `fastapi_users.db.tortoise.py` are failing.

__line 121__
[code]

__line 142__
[code]

The  fol

[2021-04-07 16:53] #540 closed

[2021-04-08 08:39] frankie567 commented on #591
Hi @Benoye,

Thank you for the detailed bug report. Unfortunately, I can't reproduce it on a regular PostgreSQL database on Docker. Could you try also on a local PostgreSQL database?

I suspect an issue with RDS and asyncpg here. Maybe this is linked with this issue: https://github.com/MagicStack/asyncpg/issues/700 It seems fixed but not released yet.

[2021-04-08 09:21] Benoye commented on #591
Hi @frankie567 thank you for your quick response !
I think you are right, it tested fine on a local PostGreSQL database..
Thanks for finding the link to the issue on asynpg, it is exactly the problem !

I am closing this issue, given that it is not on your side :)

[2021-04-08 09:21] #591 closed

[2021-04-11 13:24] alexferrari88 opened #595 "Same email can register multiple times if email contains modifiers"
If I have a user already registered with king.arthur@camelot.bt, I can register another user with the same email but with a modifier king.arthur+fake@camelot.bt
Even though the emails look different, they are actually the same email address.

[2021-04-11 15:29] frankie567 commented on #595
Hi @alexferrari88!

Actually, I don't agree that we should ignore email aliases by default. I've tested on several services (GitHub and Twitter in particular), and they accept to create a new account with an email alias. I think it's a valid use-case generally speaking.

Now, if you want to prevent it in your own project, I suggest that you port your fix into a subclass of the database adapter. It

[2021-04-11 21:59] sandalwoodbox opened #597 "Feature request: ability to catch duplicate usernames"
I'm building an application where, in addition to email, users can choose a unique username (which is how they will be identified to other users.) I have set up a database model that has a unique username field to enforce this constraint, and I can probably set up field-level validation via pydantic.

However, this won't handle race conditions where two separate requests try to add the same userna

[2021-04-11 22:04] sandalwoodbox commented on #597
Update: handling this via pydantic seems to be discouraged https://github.com/samuelcolvin/pydantic/issues/1227#issuecomment-585723753 I think the argument they're making is reasonable.

[2021-04-11 22:32] sandalwoodbox commented on #597
I was able to work around this with code like:

[code]

This doesn't handle race conditions - but the implementation for email doesn't seem to handle race conditions either?

[2021-04-12 01:46] sandalwoodbox commented on #597
Ideally it would also be nice to be able to catch both errors and display them, instead of users having to potentially fix a duplicate username and then a duplicate email in sequence.

[2021-04-12 06:50] alexferrari88 commented on #595
Hi @frankie567 , thanks for your answer.
In my case, I want to create a subscription product which has a free tier.
If I allow people to register with modified email addresses, that's sort of a hack that someone can use to "game" the system.
I guess, allowing this or not really depends on the use case.

Thank you for the suggestion, I'll implement that in my project!

[2021-04-12 07:03] frankie567 commented on #597
Hi there!

This is one the first design choice I had to make when I started this library. Currently, I'm not willing to support registration/authentication by username.

I see that you already have most of it working, though. Overriding `get_create_user` in your project is a good idea.

As for the race conditions, the unicity is guaranteed in database by a unique constraint. Even if two users pass

[2021-04-12 07:03] #597 closed

[2021-04-12 07:05] #595 closed

[2021-04-12 17:08] Master-Y0da opened #600 "Backref not working at route users/me"
**Using fastapi-users 3.0.6 and tortoise orm 0.16.17**
I have been stuck by almost a week trying to solve this problem and now it seems to be a bug, so I'm leaving evidence.

I want to access the route **users/me** and append some extra data from a couple of relations I created, these are:

**Tortoise models**

    class UserModel(TortoiseBaseUserModel):

     nombre = fields.CharField(max_length=

[2021-04-18 09:39] frankie567 commented on #600
Hi @lvar,

I had the chance to study this a bit further, and it seems indeed that the interaction between Pydantic and Tortoise models is a bit more complex that I implemented in the library. I'll have to revisit the database adapter.

For the record, I put here my experiment. FastAPI-Users need to use the `from_tortoise_orm` utilities.

[code]

Thank you for pointing this out!

[2021-04-18 15:34] lvar commented on #600
@frankie567 Glad I could help!!...
I have a question now I see your test code...is there any difference between use:

      from tortoise.contrib.pydantic import PydanticModel
      from pydantic import BaseModel
Or create the pydantic schemas with `pydantic_model_creator` ??? Should I expect the same result independent on which I choose ?

[2021-04-18 16:09] frankie567 commented on #600
The official way is to use `pydantic_model_creator`, and I think you should stick with it for your own models.

For fastapi-users, I'll have to implement it by hand through `PydanticModel` for technical reasons; but I don't think it's a good idea for the common case.

[2021-04-18 16:26] frankie567 commented on #476
@all-contributors add @alexferrari88 for financial

[2021-04-18 17:14] sandalwoodbox opened #609 "request-verify-token returns `VERIFY_USER_ALREADY_VERIFIED` error for verified users"
## Describe the bug

If a user already exists in the database and is verified, `request-verify-token` will return a 400 response with the following content:

[code]

This is not in line with the [documentation](https://frankie567.github.io/fastapi-users/usage/routes/#verify-router), which states:

## To Reproduce

Steps to reproduce the behavior:
1. Create & verify a user account
2. send a request

[2021-04-18 20:45] sandalwoodbox opened #610 "Routes docs missing LOGIN_USER_NOT_VERIFIED"
The [Routes docs](https://frankie567.github.io/fastapi-users/usage/routes/) list the potential responses for each route. However, `POST /login` can return `LOGIN_USER_NOT_VERIFIED` if login requires verification. This should be added to the docs.

[2021-04-19 12:05] #271 closed

[2021-04-19 12:05] #322 closed

[2021-04-20 07:45] frankie567 commented on #609
Thanks @sandalwoodbox! That's indeed an inconsistency between the code and the documentation.

I'll remove the `VERIFY_USER_ALREADY_VERIFIED` error to be consistent.

[2021-04-20 07:45] frankie567 commented on #609
@all-contributors add @sandalwoodbox for bug

[2021-04-20 07:46] frankie567 commented on #610
Indeed, nice catch!

[2021-04-20 12:36] #561 closed

[2021-04-20 12:36] #609 closed

[2021-04-20 12:36] #610 closed

[2021-04-20 12:46] #600 closed

[2021-04-20 12:50] frankie567 commented on #600
This should work better with `v6.0.0`. Please review the documentation to update your configuration: https://frankie567.github.io/fastapi-users/configuration/databases/tortoise/#tweak-userdb-model

[2021-04-20 15:06] Master-Y0da commented on #600
@frankie567 Good news!!...anyway, I have a long road from version 3 to 6 :) ...greetings!

[2021-05-12 02:18] weathon opened #625 "The demo code is not returning verification token"
In the demo code, it prints out the Verification token but not return it to the client

[2021-05-12 02:23] #625 closed

[2021-05-12 19:38] eddsalkield opened #630 "Use relative `tokenUrl` parameter for JWTAuthentication (and docs)"
Currently the [JWTAuthentication docs page](https://frankie567.github.io/fastapi-users/configuration/authentication/jwt/) doesn't document the `tokenUrl` parameter, although it does document all its other parameters.

When/if this gets added, it would be worth mentioning that the `tokenUrl` must be relative (i.e. no prefixing '/') if a custom `root_path` is being used within the FastAPI app.  This

[2021-05-13 15:00] frankie567 commented on #630
Thank you for pointing this out, @eddsalkield! I wasn't aware of that subtlety; it seems it has been introduced around July 2020, but I never saw that.

That's indeed something we should mention in the docs!

[2021-05-13 16:26] frankie567 opened #633 "Add CSRF recipe into the documentation"
It's possible to have it thanks to asgi-csrf. A detailed explanation and example in the doc would be nice.

Add an alert in the Cookie authentication backend to invite the user to check it out.

[2021-05-14 14:56] kamikaze opened #635 "fastapi 0.65 support"
There is a fastapi 0.65.1 available

[2021-05-14 14:58] frankie567 commented on #635
Already updated in master. I'll make a release soon.

[2021-05-14 14:58] #635 closed

[2021-05-17 08:08] frankie567 commented on #630
@eddsalkield I've put up some changes in #636. Would you mind have a look at it and tell me if it sounds okay for you? 🙂

[2021-05-17 16:14] eddsalkield commented on #630
Thanks for this - I think this looks good overall.  However, I've left a couple of minor comments in a review for the PR.

[2021-05-20 06:52] #630 closed

[2021-05-20 06:57] frankie567 commented on #474
The feature is now live in v6.1.0 🎉 Read more here: https://frankie567.github.io/fastapi-users/configuration/password-validation/

[2021-05-20 06:57] #474 closed

[2021-06-18 16:03] mark-todd opened #646 "python_type is set to str in GUID"
## Background
Modules like pydantic sqlalchemy (https://github.com/tiangolo/pydantic-sqlalchemy) require information about the python_type to construct pydantic models. This information is typically encoded in the types attribute `impl.python_type`. (https://github.com/tiangolo/pydantic-sqlalchemy/blob/master/pydantic_sqlalchemy/main.py#L27)

## Problem
The FastAPI Users GUID type (https://github.

[2021-06-21 15:34] frankie567 commented on #646
Thank you for raising this point @mark-todd! Looks sensible to me.

Correct me if I'm wrong, but if I look at [those lines](https://github.com/tiangolo/pydantic-sqlalchemy/blob/master/pydantic_sqlalchemy/main.py#L28-L29), it seems that we could directly set the `python_type` property in the `GUID` class:

[code]

If so, that would be even more straightforward.

[2021-06-24 13:21] mark-todd commented on #646
Hi Frankie,

Thanks for getting back to me on this! So CHAR already has the python_type attribute (where it stores the default python type `str` ). Unfortunately since this is the first place pydantic-sqlalchemy looks for python_type, it would never reach the elif line that takes the python_type from the GUID more directly. So I think the only way is to override the python_type within CHAR itself,

[2021-06-25 06:24] frankie567 commented on #646
Indeed! Well, let's go for the custom `impl` then. Would you mind making a PR for this? For the `impl` class, I suggest the name `UUIDChar`.

[2021-06-25 10:45] mark-todd commented on #646
Yep sounds good! And yeah of course, I'll try and get it submitted today

[2021-06-25 14:45] #646 closed

[2021-07-13 14:38] XaviTorello opened #660 "Provide dummy setup.py"
### Discussed in https://github.com/frankie567/fastapi-users/discussions/659

<div type='discussions-op-text'>

<sup>Originally posted by **XaviTorello** July 13, 2021</sup>
This will simplify the installation of this package as a `path: <PATH>, develop = True` `poetry` dependency or enforcing a `pip -e install <PATH>`</div>

[2021-07-16 07:19] bfontaine commented on #262
@bazakoskon Could you be a bit more specific?

[2021-07-29 18:09] Fingel opened #672 "Unable to override currently logged in user for tests"
### Discussed in https://github.com/frankie567/fastapi-users/discussions/671

<div type='discussions-op-text'>

<sup>Originally posted by **Fingel** July 28, 2021</sup>
Hello,

When writing tests for an application built with FastAPI and fastapi-users, it would be helpful to be able to override the [dependency callables](https://frankie567.github.io/fastapi-users/usage/dependency-callables.html) i

[2021-08-01 14:08] FaresAhmedb opened #674 "Unable to get the id field with beanie"
[Beanie](https://github.com/roman-right/beanie) aliases the `_id` field in mongodb to `id` by [default](https://roman-right.github.io/beanie/tutorial/defining-a-document/#the-id-field)
So Beanie produces something like this on a simple query `dict(await UserDB.find_one())`:
[code]

Using beanie's [solution](https://roman-right.github.io/beanie/tutorial/defining-a-document/#the-id-field) to overrid

[2021-08-03 18:51] #660 closed

[2021-08-07 19:31] scherzocrk opened #679 "Getting error "Task <...> got Future <...> attached to a different loop""
## Configuration
 - Python version : 3.9.6
 - FastAPI version : 0.68.0
 - FastAPI Users version : 6.1.1

## Steps to reproduce

The following sample reproduces the above issue.

[sample_v2.zip](https://github.com/frankie567/fastapi-users/files/6949742/sample_v2.zip)

## Describe the bug

I've found an interesting issue, not really sure if it's related to fastapi_users but I think so.
For developme

[2021-08-07 20:00] scherzocrk commented on #679
The following sample reproduces the above issue.

[sample_v2.zip](https://github.com/frankie567/fastapi-users/files/6949742/sample_v2.zip)

[2021-08-08 08:56] FaresAhmedb commented on #674
Another solution I has came up with to be able to get the object id created by
mongodb to get important info like document creation date:

[code]

Hi @frankie567 ! Should I mark this issue as solved?

[2021-08-10 17:58] kirankbee commented on #397
How are you retrieving the auth token? Your code  should work after  request.response.get['id-token']. I have  the same issue

[2021-08-11 16:47] frankie567 commented on #672
As mentioned in #671, I'll investigate this.

[2021-08-11 16:52] frankie567 commented on #679
Hi there!

Sorry for the delayed response!

It actually happens because Uvicorn tends to instantiate its own event loop. I gave explanations about this in the following discussion: https://github.com/frankie567/fastapi-users/discussions/663#discussioncomment-1025558

In a nutshell, put your FastAPI app instantiation and the Uvicorn invokation in two separate files.

[2021-08-11 16:52] #679 closed

[2021-08-12 11:36] frankie567 commented on #674
Hi @FaresAhmedb!

Thank you for the investigations and the proposed solutions. I don't know Beanie much but it looks like inheriting both from `Document` and `BaseUser` is the right way to go.

Obviously, the best way would be to implement an adapter for Beanie so that it works out of the box without having to use Motor directly. I'll consider it!

[2021-08-12 11:36] #674 closed

[2021-08-12 12:08] #672 closed

[2021-08-12 12:10] frankie567 opened #687 "Add documentation regarding testing"
Following discussion #672, we should add details in the documentation about how you can properly override the user dependency during testing.

[2021-08-12 12:12] frankie567 opened #688 "Add documentation regarding "Attached to a different loop" error"
Following [discussion #663](https://github.com/frankie567/fastapi-users/discussions/663#discussioncomment-1025558) and issue #679, we should add documentation regarding the "Attached to a different loop" error, since it's quite common, especially with Motor.

[2021-08-12 13:13] davidbrochart opened #691 "Cannot add property to User model"
## Describe the bug

Starting from the [OAuth2 example](https://frankie567.github.io/fastapi-users/configuration/oauth.html#sqlalchemy_1), and adding a new `foo` property to the `User` model gives the following error:
[code]

## To Reproduce

Steps to reproduce the behavior:
1. Copy [the OAuth2 example](https://frankie567.github.io/fastapi-users/configuration/oauth/#sqlalchemy_1) to a `test.py` fi

[2021-08-12 14:06] davidbrochart commented on #691
Ah I see the property has to be added to `UserTable` too, e.g.:

[code]

[2021-08-12 14:06] #691 closed

[2021-08-24 21:41] rnd42 commented on #688
FYI thanks to the above issues I think I figured out my own variant of this issues.  It seems you can hit the same error when using Gunicorn with Uvicorn workers and the --preload/preload_app option.  I just figured I'd add that here so the eventual documentation can inclued it.

[2021-08-26 09:22] frankie567 opened #701 "Support Pydantic SecretStr for authentication backend secrets"
As raised in #700.

[2021-08-29 04:25] badarsebard commented on #564
Looks like the `encode/databases` project fixed this in the 0.5.0 release a few days ago.

[2021-08-29 13:20] frankie567 commented on #564
Indeed! Actually, I'm currently splitting all the database adapters [into separate packages](https://github.com/fastapi-users) and I've already updated the one for SQLAlchemy/databases. I'll release it soon!

[2021-09-01 14:56] scherzocrk commented on #688
I'm facing similar issues too with gunicorn. I don't use --preload option in gunicorn but I'm still getting "Attached to a different loop" error. In my case this is what I'm doing:

- Dockerfile
`CMD ["gunicorn", "--config=gunicorn_conf.py", "--worker-class=uvicorn.workers.UvicornWorker", "main:app"]`

- gunicorn_conf.py

[code]

[2021-09-01 15:30] frankie567 commented on #688
@scherzocrk Could you [start a discussion](https://github.com/fastapi-users/fastapi-users/discussions) and share with us your `main.py` file?

[2021-09-01 15:44] scherzocrk commented on #688
Just create a discussion here: https://github.com/fastapi-users/fastapi-users/discussions/711
Thanks for looking into this :)

[2021-09-09 09:52] #701 closed

[2021-09-09 11:29] frankie567 commented on #564
Should be fixed in [`v7.0.0`](https://github.com/fastapi-users/fastapi-users/releases/tag/v7.0.0) with updated [SQLAlchemy/Databases adapter](https://github.com/fastapi-users/fastapi-users-db-sqlalchemy).

[2021-09-09 11:29] #564 closed

[2021-09-12 09:59] frankie567 opened #722 "Add @stephane as contributor"
See https://github.com/fastapi-users/fastapi-users-db-sqlalchemy/pull/3

[2021-09-12 10:01] frankie567 commented on #722
@all-contributors add @stephane for test and bug

[2021-09-12 10:01] #722 closed

[2021-09-14 09:39] gregsifr opened #726 "Buy Me A Coffee link in README returns a 404"
## Describe the bug

The buy me a coffee link seems broken

## To Reproduce

Click on the buy me a coffee link in the readme.

[2021-09-14 09:58] #726 closed

[2021-09-14 09:58] frankie567 commented on #726
Whooops 😄 Fixed! Thank you for raising this, much appreciated 🙏

[2021-09-19 01:27] ScrimForever opened #733 "UPDATE_USER_EMAIL_ALREADY_EXISTS is raised when updating e-mail with current address"
## Describe the bug
When i try to update an user with PATCH method  like - /users/{id} and pass same email, returned
 "detail": "UPDATE_USER_EMAIL_ALREADY_EXISTS"

but i just like update others variables not email.

## To Reproduce

Steps to reproduce the behavior:
1. Go to /users/{id}
2. Method PATCH
3. try to update user id with same email
4. See error  "detail": "UPDATE_USER_EMAIL_ALREADY_EXIST

[2021-09-19 15:02] frankie567 commented on #733
The endpoint was designed as a `PATCH` request, where only fields that should be changed should appear in the payload.

Still, I agree that it may be a bit surprising to get this error when the e-mail doesn't change. I'll improve this!

[2021-09-19 16:49] ScrimForever commented on #733
If you not pass email parameter , its return email is required. you cannot send payload.

[2021-09-20 02:06] badarsebard commented on #733
Also ran into this same issue. Receive the following error when attempting to patch any single field (not email):
[code]

This occurs with `/users/{uid}` and `/users/me`. This also looks to be a regression in 7.0.0. Behavior is normal in 6.1.3.

[2021-09-20 05:43] frankie567 commented on #733
Concerning the "email required" issue when updating, did you make sure you updated your `UserUpdate` model [following v.7.0.0](https://github.com/fastapi-users/fastapi-users/releases/tag/v7.0.0):

[2021-09-20 06:49] #733 closed

[2021-09-20 12:40] nlile opened #735 "Full Examples Broken (Docs Page)"
## Describe the bug

Documentation for full examples broke after the v7->v8 update.

## To Reproduce

1. Go to https://fastapi-users.github.io/fastapi-users/configuration/full-example/

[2021-09-20 14:13] frankie567 commented on #735
What do you mean by "broken"? Those are embedded Repl.it, you can access the code by interacting with the iframe (or click the *Open* button to have a full-screen view):

<img width="814" alt="Capture d’écran 2021-09-20 à 16 12 45" src="https://user-images.githubusercontent.com/1144727/134017409-ce5a03fc-926e-4560-919c-b095c1bfd72c.png">

[2021-09-21 06:30] frankie567 commented on #735
No problem 😄 I'll also add the direct link above them, so that users with the same kind of issue can still open the examples ;)

[2021-09-21 11:00] frankie567 opened #737 "Authentication backend scheme type is incorrect"
Currently:

[code]

Should be:

[code]

➡️ We set the class, not an instance of the class.

[2021-09-21 11:10] frankie567 commented on #737
Never mind, it's correct.

[2021-09-21 11:10] #737 closed

[2021-09-27 09:06] Briscoooe opened #746 "TypeError: 'Record' object is not a mapping"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/745

<div type='discussions-op-text'>

<sup>Originally posted by **Briscoooe** September 27, 2021</sup>
I am following [this example](https://replit.com/@frankie567/fastapi-users-sqlalchemy) in my project and I can't seem to get it to work. The error I am getting is

[code]

The request I am trying is [login](https://fasta

[2021-09-27 10:35] mlisthenewcool opened #747 "get_user_manager is not usable programmatically"
## Describe the bug

`get_user_manager` function proposed on official docs is not usable programmatically.

[code]

## To Reproduce

Steps to reproduce the behavior:

1. Clone the full example for MongoDB available on official docs.
2. Add a function to use user_manager programmatically.

[code]

## Expected behavior

A ready to use user_manager for CRUD operations, especially create, update & del

[2021-09-29 11:35] paleja commented on #747
This works for me:

[code]

[2021-09-30 06:37] mlisthenewcool commented on #747
@paleja Can you show your `get_user_manager` function ? Using your approach I got the following error.
[code]

[2021-09-30 07:15] mlisthenewcool commented on #747
#739 Solved it, thanks to @frankie567 !

[2021-09-30 07:15] #747 closed

[2021-10-02 11:05] Briscoooe commented on #746
Closing this.

The issue was to do with the `Base` class I was passing into the `User` class, I was a different one which I already had in my code, rather than the `DeclarativeMeta = declarative_base()` one.

[2021-10-02 11:05] #746 closed

[2021-10-04 12:59] LonelyVikingMichael opened #751 "Cannot extend the User model to use nested objects with Ormar"
`OrmarUserDatabase.create()` will not save declared nested models/relationships. They do still appear in the OpenAPI schema docs, but the relationships cannot be saved or retrieved.

Steps to reproduce the behavior:
1. Extend your models with a relational field. I have used roles:
[code]
Extend Pydantic models:
[code]
2. Your registration route should look like this:
![image](https://user-images.g

[2021-10-08 06:32] frankie567 opened #758 "Add @scottdavort as contributor"
@all-contributors add @scottdavort for funding

[2021-10-08 06:33] frankie567 commented on #758
@all-contributors add @scottdavort for financial

[2021-10-08 06:33] #758 closed

[2021-10-08 11:47] frankie567 opened #762 "Add a name on every route"
As discussed in #761.

[2021-10-08 18:16] snapperVibes commented on #762
Sounds easy enough. I'll work on this. 👍

[2021-10-11 04:05] bert2002 opened #765 "Cookie name not set correctly"
## Describe the bug

The cookie has the name of `fastapiusersauth` and not as configured.

## To Reproduce

[code]

Thanks,
bert

[2021-10-11 05:53] frankie567 commented on #765
The argument to set the cookie name is `cookie_name`, not `name`: https://fastapi-users.github.io/fastapi-users/configuration/authentication/cookie/#configuration

The `name` argument is to set the internal name of the authentication class (mainly useful in case of several authentication methods).

[2021-10-11 05:53] #765 closed

[2021-10-15 20:56] jdukewich opened #769 "Update documentation to match changes with v8.x.x"
## Describe the bug

Some of the documentation has mismatched method names. For example, the documentation under the `Usage -> Routes` page still references an `after_register` handler, but that is now the `on_after_register` handler within a `UserManager`.

## To Reproduce
Go to the [Usage > Routes Page](https://fastapi-users.github.io/fastapi-users/usage/routes/#post-register) to see some of the

[2021-11-02 00:12] jakemanger opened #778 "PATCH of users/me route, changing the user's email, does not change the user's verification status"
## Describe the bug

If I verify a user, then use the user's account to PATCH their user email via the users/me route, this does not change the user's verification status.

I would think this would be a big problem in terms of security, as a user could sign up with a burner email, get verified and then change their email willy-nilly to anyone else and stay verified. They would then be able to clai

[2021-11-02 07:12] #762 closed

[2021-11-02 07:20] frankie567 commented on #778
Yes, you're completely right. To be honest, I thought this was already covered 😅

Happy to review a PR about it! Basically, here is what would be needed:

1. Set the `is_verified` flag to `False` when updating e-mail. I wouls happen in the `_update` method of the user manager, right after line 547:

https://github.com/fastapi-users/fastapi-users/blob/f4818ee18ab07b79f079f9f3806975971e6995e0/fastap

[2021-11-02 07:25] frankie567 opened #781 "Add justb4 for funding"

[2021-11-02 07:25] frankie567 commented on #781
@all-contributors add @justb4 for funding

[2021-11-02 07:26] frankie567 commented on #781
@all-contributors add @justb4 for financial

[2021-11-02 07:26] #781 closed

[2021-11-02 20:28] yeyeric opened #784 "Add dynamic token_audience"
Hello,

I was wondering if there was a "native" way in the package to include dynamic scope based on each user ?

Indeed, in the code in /authentication/jwt.py it's managed like this to generate the token:
`data = {"user_id": str(user.id), "aud": user.token_audience}`

I'd like to understand how I could send dynamic token_audience like user.token_audience ?

I've managed to do it by adding another

[2021-11-04 18:59] kamikaze opened #788 "Document the way to create user programmatically"
After upgrading to 8.x.x I've lost the way I could create a user from my python code. I would like to create a bootstrap user on fastapi app start. Is there any way to do that? Thanks

[2021-11-05 13:40] kamikaze commented on #788
I had this code to create users:
`
await fastapi_users.create_user(UserCreate(
                email=email,
                password=password,
                is_active=True,
                is_superuser=False,
                is_verified=True,
                organization_id=usr['id']
            ))
`

[2021-11-05 13:53] kamikaze commented on #391
in 8.x.x it seems very cryptic how to achieve this in code. Still can't figure out

[2021-11-05 13:58] kamikaze commented on #788
Found the following discussion: https://github.com/fastapi-users/fastapi-users/discussions/739
So please treat this issue ticket as a request for a documenting stuff :) Thanks

[2021-11-07 09:49] #784 closed

[2021-11-07 10:32] #788 closed

[2021-11-07 10:38] frankie567 commented on #788
Available here: https://fastapi-users.github.io/fastapi-users/cookbook/create-user-programmatically/

[2021-11-07 10:44] frankie567 commented on #688
Since `v8`, FastAPI Users work entirely inside the dependency injection system of FastAPI. Thanks to this, I'm quite confident that we should avoid 99% of "Attached to a different loop" errors.

Closing this for now, but feel free to leave a message below if you encounter the problem in `v8+`.

[2021-11-07 10:44] #688 closed

[2021-11-23 02:16] lcarcamo1526 opened #806 "Pytest returning 404 with TestClient because APIrouter"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/805

<div type='discussions-op-text'>

<sup>Originally posted by **lcarcamo1526** November 22, 2021</sup>
Hi, thank you for that amazing work.
I'm trying to run some pytest with fastapi-users
My first idea was trying to get the bearer token and used as session, however looks to me that APIRouter has not been initialized  a

[2021-11-23 07:08] frankie567 commented on #806
Will discuss this in #805.

[2021-11-23 07:08] #806 closed

[2021-12-08 05:13] gikpro opened #820 "Incompatible version error with fastapi-jwt-auth[asymmetric] using pipenv"
## Describe the bug
The command pipenv lock fail because there are incompatible version in the resolved dependencies.

## To Reproduce
1. Install fastapi-jwt-auth[asymmetric] and fastapi-users[sqlalchemy]
2. pipenv lock
3. I got this error There are incompatible version in the resolved dependencies
pyjwt<2.0.0, >=1.7.1(from fastapi-jwt-auth[asymmetric]==0.5.0 ....
pyjwt==2.30(from fastapi-users[sq

[2021-12-08 07:21] frankie567 commented on #820
`fastapi-jwt-auth` is a completely different library from FastAPI Users. Both serve the same purpose, so you have to choose which one you want to use.

Concerning the error, `fastapi-jwt-auth` uses an old version of `pyjwt` (<2.0.0) while we use the most up-to-date version (2.3.0). There is nothing I can do here.

[2021-12-08 07:21] #820 closed

[2021-12-17 09:27] matyasrichter opened #823 "Can't generate OpenAPI schema with two OAuth routers"
## Describe the bug

When two OAuth routers are included in one FastAPI app, OpenAPI schema generation fails with KeyError.

A clear and concise description of what you expected to happen.

## Configuration
 - Python version : 3.9
 - FastAPI version : 0.70.1
 - FastAPI Users version : 8.1.3

### FastAPI Users configuration

[2021-12-17 09:28] matyasrichter commented on #823
This was introduced in #793 - I will fix it @frankie567

[2022-01-01 19:14] Hazedd opened #834 "Oauth2 cant get a user response"
On fastapi-users v8.1.3 i have tried to implemented the oauth2 example given in the docs (sqlalchemy, sqlite) on python 3.10

i have a jwt and cookie backend, after logging in on google i got a none response. Its not setting a cookie or returning a jwt token. i started the debugger and found the issue below.

The callback function in the get_oauth_router is a checking the backend.name against the

[2022-01-03 10:45] frankie567 commented on #834
Hi @Hazedd! Thank you for raising this. I've fixed it in [`v8.1.5`](https://github.com/fastapi-users/fastapi-users/releases/tag/v8.1.5) to give you time to upgrade to v9.

Still, I can't commit to maintain both versions, so consider upgrading to v9 as soon as possible.

[2022-01-03 10:45] #834 closed

[2022-01-03 12:11] Hazedd commented on #834
i have upgraded last night, see you just upgraded the docs 👌

[2022-01-05 12:06] exactstat opened #842 "import database in the /examples/sqlalchemy/app/app.py"
## Describe the bug
Where: https://github.com/fastapi-users/fastapi-users/blob/master/examples/sqlalchemy/app/app.py
In the app.py:
`from app.db import database`

In the app/db.py: no database instance

## Expected behavior
Probably

[code]

[2022-01-05 12:31] #842 closed

[2022-01-05 12:31] frankie567 commented on #842
Nice catch, thanks 🙏 This was a remnant from the previous SQLAlchemy implementation. Fixed!

[2022-01-05 13:27] exactstat opened #843 "Examples: connect() got an unexpected keyword argument 'check_same_thread'"
## Describe the bug
Where:  examples/sqlalchemy/app/db.py, line 19
What: connect_args={"check_same_thread": False}
raises
connect() got an unexpected keyword argument 'check_same_thread'

Removing the connect_args fixes the problem.

[2022-01-05 20:23] BracketJohn opened #844 "`SQLAlchemyBaseAccessTokenTable` does not exist in fastapi-users v9.2"
## Describe the bug

I tried to follow the guide to set up authentication with a Cookie + Database backend. In [this step of the guide](https://fastapi-users.github.io/fastapi-users/configuration/authentication/strategies/database/), the guide tells me to import `SQLAlchemyBaseAccessTokenTable`, however, this does not exist anywhere (also using the github search it only shows up in the `docs/` fol

[2022-01-06 09:19] #843 closed

[2022-01-07 11:45] Hazedd opened #846 "Delete response header not setting cookie_samesite as defined in CookieTransport"
For my angular project i need to set the cookies SameSite header to 'None' so 'Set-Cookie' is set by the angular app.
I defined the cookie transport:
[code]

On a login call the browser is receiving the following cookie:

and the cookie will be set.

On a logout call  the browser is receiving the following cookie:

**Setting cookie is blocked by SameSite attribute lax!**

## To Reproduce

Steps to

[2022-01-07 11:49] Hazedd opened #847 "logout on database strategy is not deleting accesstoken"
When making a logout call and using the database strategy the access token in the database is not deleted.

## To Reproduce

Steps to reproduce the behavior:
Setup fastapi-user cookie and SQL database strategy
Register and login
Open SQL database check token table
Logoff
check token table, token still present.

## Expected behavior
When logging out the token should be removed from table.

## Confi

[2022-01-07 18:50] luisroel91 commented on #687
Is this the same as https://fastapi-users.github.io/fastapi-users/cookbook/create-user-programmatically/?

[2022-01-09 09:01] frankie567 commented on #847
This should be fixed with [fastapi-users/fastapi-users-db-sqlalchemy@v2.0.4](https://github.com/fastapi-users/fastapi-users-db-sqlalchemy/releases/tag/v2.0.4). You can force-update the sub-depencency with `pip install -U fastapi-users[sqlalchemy2]`

[2022-01-09 09:01] #847 closed

[2022-01-09 09:02] frankie567 commented on #847
@all-contributors add @Hazedd for bug, docs

[2022-01-09 09:03] frankie567 opened #851 "Add @luisroel91 for funding"
@all-contributors add @luisroel91 for funding

[2022-01-09 09:03] frankie567 commented on #851
@all-contributors add @luisroel91 for funding

[2022-01-09 09:04] frankie567 commented on #851
@all-contributors add @luisroel91 for financial

[2022-01-09 09:04] #851 closed

[2022-01-09 09:07] frankie567 commented on #687
@luisroel91 No, it will be slightly different.

The goal is to add some guidance to properly write unit tests with FastAPI Users, especially how to use the [`dependency_overrides` mechanism of FastAPI](https://fastapi.tiangolo.com/advanced/testing-database/#dependency-override) to "mock" the `current_user` dependency.

I've added some insights here: https://github.com/fastapi-users/fastapi-users/d

[2022-01-10 11:59] #846 closed

[2022-01-13 11:14] DinaTaklit opened #862 "fastapi fastapi-users with Database adapter for SQLModel users table is not created"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/861

<div type='discussions-op-text'>

<sup>Originally posted by **DinaTaklit** January 13, 2022</sup>
I was trying to use [fastapi users][1] package to quickly Add a registration and authentication system to my FastAPI project which uses the PostgreSQL database. I am using `asyncio` to be able to create asynchronous funct

[2022-01-14 13:13] Ae-Mc opened #865 "Autocompletion for fastapi_users.db doesn't work"
## Describe the bug

In Visual Studio Code autocompletion for classes in module fastapi_users.db doesn't work.

## To Reproduce

Steps to reproduce the behavior:
Type `from fastapi_users.db import `  and press <Ctrl-Space> to trigger autocompletion. Only base class will be showed.

## Expected behavior

In my environment where I install fastapi-users[sqlalchemy2] it must show SQLAlchemyBaseUserTab

[2022-01-14 13:27] Ae-Mc commented on #865
Same problem with `fastapi_users.router` module.

[2022-01-14 13:51] imkhubaibraza commented on #862
Unable to run the [example](https://github.com/fastapi-users/fastapi-users/tree/master/examples/sqlalchemy-oauth) code
Complete trace is here:
`Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.9/site-packages/uvicorn/protocols/http/httptools_impl.py", line 376, in run_asgi
    result = await app(self.scope, self.receive, self.send)
  File "/opt/homebrew/lib/python3.9/site-packa

[2022-01-14 14:02] #862 closed

[2022-01-15 09:50] #865 closed

[2022-01-15 20:45] Ae-Mc opened #870 "Custom UserDB Pydantic schema bug"
## Describe the bug

If I add column that will be generated on database side I can't add new user.
UserDB schema is exactly the same as User database model except default value.
But I don't want to define same default constraints in both models and schemas.

The exception is with Pydantic model validation.
The only non-workaround solution that I came up with is to create separate UserDBCreate mode

[2022-01-16 10:46] DinaTaklit opened #876 "fastapi_users sqlAlchemy could not add my own fields to users table"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/875

<div type='discussions-op-text'>

<sup>Originally posted by **DinaTaklit** January 16, 2022</sup>
Hello, I have tried to add my own fields to the user table, so I have updated `app/models.py` (see app/models.py below) after running the app the fields were added to the swagger doc but not to the users' table.  How coul

[2022-01-16 17:02] DinaTaklit commented on #876
@Alexandr Makurin answered this question

To change database tables you shouldn't change Pydantic models but database models.
In your case, if database models are defined in `app/db_models.py`, this module should look like this:

[code]
refer to this discussion please for more details: https://github.com/fastapi-users/fastapi-users/discussions/875

[2022-01-16 17:02] #876 closed

[2022-01-17 17:50] fullonic opened #878 "Allow update single field with `PATCH` `users/me`"
## Describe the bug
Currently, when I try to update a user field on `users/me` using `PATCH`, I'm getting a validation error because the `email` field is mandatory.  Accordingly, with the `PATCH` method spec, we should be able to update a single field without providing all other fields. But, even if I provide the field `email`, it raises `UPDATE_USER_EMAIL_ALREADY_EXISTS`

## To Reproduce
Note: I'

[2022-01-17 18:00] fullonic commented on #878
Sorry. I'm closing this issue because I spot my problem. I'm doing an upgrade from version `6` to `9` and I saw that my problem was related to using an old and wrong schema for updating the user model :sweat:

[2022-01-17 18:00] #878 closed

[2022-01-19 20:36] DinaTaklit opened #883 "How could I remove/Hide is_active, is_superuser and is_verified from register route?"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/882

<div type='discussions-op-text'>

<sup>Originally posted by **DinaTaklit** January 19, 2022</sup>
Hello the `auth/register` endpoint offer all those fields  to register the new user I want to remove/hide ` is_active`,
`is_superuser` and `is_verified`
[code]
How is it possible to do this?</div>

[2022-01-19 21:00] DinaTaklit opened #887 "how can I implement my own version of `auth/forgot-password` ?"
### Discussed in https://github.com/fastapi-users/fastapi-users/discussions/886

<div type='discussions-op-text'>

<sup>Originally posted by **DinaTaklit** January 19, 2022</sup>
Hello, I have tried to run  `auth/forgot-password` but it does nothing, Could reimplement this end point? how? </div>